Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

config(raster): Add imagery waikato-sn1084-1958-0.25m to waikato-sn1084-1958-0.25m LI-9408
  config/tileset/waikato/imagery/waikato-sn1084-1958-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic to topographic config file. (#1622)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1626)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

fix: remove west coast 2016 and buller 2020
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: add west coast 2016 to tileset
  config/tileset/west-coast/imagery/west-coast-2016-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: add buller 2020 to tileset
  config/tileset/west-coast/imagery/buller-2020-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery west-coast-2024-2026-0.2m to west-coast-2024-2026-0.2m LI-1569 (#1624)
  config/tileset/aerial.json
  config/tileset/west-coast/imagery/buller-2020-0.2m.json
  config/tileset/west-coast/imagery/west-coast-2016-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn1497-1962-0.125m to waikato-sn1497-1962-0.125m LI-9408
  config/tileset/waikato/imagery/waikato-sn1497-1962-0.125m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn1361-1961-0.1m to waikato-sn1361-1961-0.1m LI-9408
  config/tileset/waikato/imagery/waikato-sn1361-1961-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn1397-1961-1963-0.25m to waikato-sn1397-1961-1963-0.25m LI-9408
  config/tileset/waikato/imagery/waikato-sn1397-1961-1963-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn292-1944-1945-0.4m to waikato-sn292-1944-1945-0.4m LI-9408
  config/tileset/waikato/imagery/waikato-sn292-1944-1945-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn9445-1995-1997-0.75m to waikato-sn9445-1995-1997-0.75m LI-9408
  config/tileset/waikato/imagery/waikato-sn9445-1995-1997-0.75m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery otorohanga-2025-0.125m to otorohanga-2025-0.125m LI-8810
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waitomo-2025-0.125m to waitomo-2025-0.125m LI-8816
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery matamata-piako-2025-0.075m to matamata-piako-2025-0.075m LI-8721
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hauraki-2025-0.125m to hauraki-2025-0.125m LI-8849
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waitomo-2025-0.125m to waitomo-2025-0.125m LI-8816
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: change waikato from individual to combined
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: removed old otorohanga from combined
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix:add otorohanga 2021 to individual
  config/tileset/waikato/imagery/otorohanga-2021-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: delete individual waitomo
  config/tileset/waikato/imagery/waitomo-2025-0.125m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: delete individual hauraki-2025-0.125m.json
  config/tileset/waikato/imagery/hauraki-2025-0.125m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: delete individual otorohanga
  config/tileset/waikato/imagery/otorohanga-2025-0.125m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: delete individual matamata piako
  config/tileset/waikato/imagery/matamata-piako-2025-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: added 2025 Otorohanga to combined
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

chore: security update for Github actions usages
  .github/dependabot.yml
Owners: @linz/proj-basemaps-dev

Update config/tileset/waikato/imagery/otorohanga-2021-0.1m.json
  config/tileset/waikato/imagery/otorohanga-2021-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

feat:add waikato to combined (#1642)
  config/tileset/aerial.json
  config/tileset/waikato/imagery/hauraki-2025-0.125m.json
  config/tileset/waikato/imagery/matamata-piako-2025-0.075m.json
  config/tileset/waikato/imagery/otorohanga-2021-0.1m.json
  config/tileset/waikato/imagery/otorohanga-2025-0.125m.json
  config/tileset/waikato/imagery/waitomo-2025-0.125m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hawkes-bay-2025-2026-0.2m to hawkes-bay-2025-2026-0.2m LI-8771
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: remove hawke's bay datasets from aerial.json
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: demote older Waikato rural datasets in aerial.json
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: whitespace
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: create hawkes-bay-2021-2022-0.3m.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2021-2022-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: create hawkes-bay-2024-2025-0.1m.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2024-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: create hawkes-bay-2023-2024-0.25m.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2023-2024-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: create napier-2024-2025-0.05m.json
  config/tileset/hawkes-bay/imagery/napier-2024-2025-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: retain urban Hawke's Bay in aerial.json
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: delete hawkes-bay-2024-2025-0.1m.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2024-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery
