Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

config(raster): create new topo raster 'gridded' tileset
  config/tileset/topo-raster-gridded.json
Owners: @linz/proj-basemaps-dev

fix(raster): make layer names unique between the gridded and gridless topo raster tilesets
  config/tileset/topo-raster-gridded.json
Owners: @linz/proj-basemaps-dev

config(raster): create new topo raster 'gridded' style
  config/style/topo-raster-gridded.json
Owners: @linz/proj-basemaps-dev

fix(raster): correct mistyped source id value
  config/style/topo-raster-gridded.json
Owners: @linz/proj-basemaps-dev

fix(raster): swap topo-raster styles, tilesets, and adjust layer names
  config/style/topo-raster-gridless.json
  config/tileset/topo-raster-gridded.json
  config/tileset/topo-raster-gridless.json
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps

fix(raster): make layer names unique for the topo-raster gridless tileset
  config/tileset/topo-raster-gridless.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1320)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1321)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

Update all the data set to latest imports
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

fix format
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Update black edges data
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Update all the NZTM charts
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

config(elevation): Add elevation wellington_2013-2014_dem_1m to wellington_2013-2014_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation northland_2018-2020_dem_1m to northland_2018-2020_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

fix(raster): update 'gridded' topo-raster nztopo250 data source
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps

config(raster): Add imagery buller-2024-2025-0.075m to buller-2024-2025-0.075m LI-6919
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

Apply test container to test hide charts from layer dropdown.
  .github/workflows/build.yml
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Revert to v8
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery buller-2024-2025-0.075m to buller-2024-2025-0.075m LI-6919 (#1324)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn2975-1977-1978-0.75m to auckland-sn2975-1977-1978-0.75m LI-6920
  config/tileset/auckland/imagery/auckland-sn2975-1977-1978-0.75m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery selwyn-2025-0.2m to selwyn-2025-0.2m LI-6736
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): update topo raster tileset to 600 dpi data sources BM-1379 (#1319)
  config/style/topo-raster-gridless.json
  config/tileset/topo-raster-gridless.json
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps

fix(raster): switch the topo raster tileset back to serving the gridless map sheets
  config/tileset/topo-raster-gridless.json
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps

fix(raster): rename the topo raster gridless tileset to `gridded`
  config/tileset/topo-raster-gridded.json
Owners: @linz/proj-basemaps-dev

fix(raster): formatting
  config/tileset/topo-raster-gridded.json
Owners: @linz/proj-basemaps-dev

fix(raster): create new topo raster gridded style to serve the gridded map sheets
  config/style/topo-raster-gridded.json
Owners: @linz/proj-basemaps-dev

fix(raster): switch the topo raster tileset back to serving the gridl… (#1327)
  config/style/topo-raster-gridded.json
  config/tileset/topo-raster-gridded.json
  config/tileset/topo-raster-gridless.json
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps

config(raster): Add imagery christchurch-earthquake-2011-0.1m to christchurch-earthquake-2011-0.1m LI-6982
  config/tileset/canterbury/imagery/christchurch-earthquake-2011-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery selwyn-2025-0.2m to selwyn-2025-0.2m LI-6736
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery selwyn-2025-0.2m to selwyn-2025-0.2m LI-6736 (#1326)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn5015-1976-0.75m to auckland-sn5015-1976-0.75m LI-6920
  config/tileset/auckland/imagery/auckland-sn5015-1976-0.75m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery christchurch-earthquake-2011-0.1m to christchurch-earthquake-2011-0.1m LI-6982 (#1328)
  config/tileset/canterbury/imagery/christchurch-earthquake-2011-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: update with config that has not had a coastal cutline applied
  config/tileset/auckland/imagery/auckland-sn2975-1977-1978-0.75m.json
Owners: @linz/proj-basemaps, @linz/imagery

Apply suggestion from @Wentao-Kuang
  config/tileset/auckland/imagery/auckland-sn2975-1977-1978-0.75m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn5015-1976-0.75m to auckland-sn5015-1976-0.75m LI-6920 (#1329)
  config/tileset/auckland/imagery/auckland-sn5015-1976-0.75m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn2975-1977-1978-0.75m to auckland-sn2975-1977-1978-0.75m LI-6920 (#1325)
  config/tileset/auckland/imagery/auckland-sn2975-1977-1978-0.75m.json
Owners: @linz/proj-basemaps, @linz/imagery

Update fixed cutline
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

fix lint
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps
