Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

feat: update auckland_2010-2012_0.50m.json
  config/tileset/auckland/imagery/auckland_2010-2012_0.50m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update auckland_2017_0.075m.json
  config/tileset/auckland/imagery/auckland_2017_0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: edit auckland-2024-0.075m minZoom to appear sooner
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-2024-0.075m to auckland-2024-0.075m LI-5867 (#1232)
  config/tileset/aerial.json
  config/tileset/auckland/imagery/auckland-2020-0.075m.json
  config/tileset/auckland/imagery/auckland-2022-0.075m.json
  config/tileset/auckland/imagery/auckland_2010-2012_0.50m.json
  config/tileset/auckland/imagery/auckland_2017_0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: formatting in auckland_2010-2012_0.5m
  config/tileset/auckland/imagery/auckland-2010-2012-0.5m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: id
  config/tileset/auckland/imagery/auckland-2010-2012-0.5m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: dashes in auckland-2017-0.075m
  config/tileset/auckland/imagery/auckland-2017-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: correct auckland dataset id formatting (#1233)
  config/tileset/auckland/imagery/auckland-2010-2012-0.5m.json
  config/tileset/auckland/imagery/auckland-2017-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hutt-city-2025-0.075m to hutt-city-2025-0.075m LI-5999
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: remove hutt-city_urban_2021_0-075m_RGB from aerial basemap
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: hutt-city-urban-2021-0.075m to tileset
  config/tileset/wellington/imagery/hutt-city-urban-2021-0.075m
Owners: @linz/proj-basemaps-dev

feat: add dsm hillshade layers
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

style(vector): update the topographic-v2 tileset's place_labels style entries
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

style(vector): update the labels-v2 tileset's place_labels style entries
  config/style/labels-v2.json
Owners: @linz/proj-basemaps-dev

fix: add .json to end of file name
  config/tileset/wellington/imagery/hutt-city-urban-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hutt-city-2025-0.075m to hutt-city-2025-0.075m LI-5999 (#1234)
  config/tileset/aerial.json
  config/tileset/wellington/imagery/hutt-city-urban-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): update the topographic-v2 tileset's data sources
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

Update data
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1236)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

feat: add new dem layers 23.07.25
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

style(vector): add temp aerial imagery backdrop for the labels-v2 tileset
  config/style/labels-v2.json
Owners: @linz/proj-basemaps-dev

review comments
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery upper-hutt-2025-0.075m to upper-hutt-2025-0.075m LI-6025
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix wrong layer
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: move upper-hutt-2021-0.075m from aerial basemap to individual
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add upper-hutt-urban-2021-0.075m to tileset
  config/tileset/wellington/imagery/upper-hutt-urban-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery upper-hutt-2025-0.075m to upper-hutt-2025-0.075m LI-6025 (#1238)
  config/tileset/aerial.json
  config/tileset/wellington/imagery/upper-hutt-urban-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery masterton-2025-0.075m to masterton-2025-0.075m LI-6083
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: move masterton-urban-2021-0.075m from aerial basemap to individual
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add masterton-2021-0.075m to tileset
  config/tileset/wellington/imagery/masterton-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery masterton-2025-0.075m to masterton-2025-0.075m LI-6083 (#1239)
  config/tileset/aerial.json
  config/tileset/wellington/imagery/masterton-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery canterbury-2025-0.25m to canterbury-2025-0.25m LI-4080
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: retire canterbury 0.3m 2023 from aerial basemap
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: create canterbury-2023-0.3m.json individual layer
  config/tileset/canterbury/imagery/canterbury-2023-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: convert #rrggbbaa colors into rgba
  config/style/topo-raster.json
  config/style/topographic-v2.json
  config/style/topographic.json
  package-lock.json
  package.json
  scripts/fix-hex.ts
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery canterbury-2025-0.25m to canterbury-2025-0.25m LI-4080 (#1240)
  config/tileset/aerial.json
  config/tileset/canterbury/imagery/canterbury-2023-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

oops fix igor overview
  config/tileset/hillshade.igor.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

fix hillshade dsm id
  config/tileset/hillshade.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

Update data
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps
