Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

config(raster): Add imagery northland-sn50189c-2003-2004-0.48m to northland-sn50189c-2003-2004-0.48m LI-8375
  config/tileset/northland/imagery/northland-sn50189c-2003-2004-0.48m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery tasman-sn12391a-1996-2000-0.4m to tasman-sn12391a-1996-2000-0.4m LI-8186 (#1603)
  config/tileset/scanned.post19891231.json
  config/tileset/tasman/imagery/tasman-sn12391a-1996-2000-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery ashburton-2025-0.075m to ashburton-2025-0.075m LI-8052 (#1602)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update scanned.post19891231.json
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: undo change to scanned.post19891231.json
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery northland-sn50189c-2003-2004-0.48m to northland-sn50189c-2003-2004-0.48m LI-8375
  config/tileset/northland/imagery/northland-sn50189c-2003-2004-0.48m.json
Owners: @linz/proj-basemaps, @linz/imagery

Fix the formating for scanned imagery post 1989
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

fix(aerial): Fix the formating for scanned imagery post 1989 (#1608)
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1606)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1607)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery waipa-2026-0.1m to waipa-2026-0.1m LI-9535
  config/tileset/waikato/imagery/waipa-2026-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery south-waikato-2025-0.1m to south-waikato-2025-0.1m LI-9535
  config/tileset/waikato/imagery/south-waikato-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waipa-2026-0.1m to waipa-2026-0.1m LI-9535
  config/tileset/waikato/imagery/waipa-2026-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery northland-sn12083-1993-1994-0.4m to northland-sn12083-1993-1994-0.4m LI-8970
  config/tileset/northland/imagery/northland-sn12083-1993-1994-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update scanned.post19891231.json
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waipa-2026-0.1m to waipa-2026-0.1m LI-9535 (#1609)
  config/tileset/waikato/imagery/waipa-2026-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1614)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1615)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery northland-sn12083-1993-1994-0.4m to northland-sn12083-1993-1994-0.4m LI-8970 (#1613)
  config/tileset/northland/imagery/northland-sn12083-1993-1994-0.4m.json
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(coastal): Add coastal elevation DEMs and DSMs for Okuru
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for Okuru
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for Okuru (#1617)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery south-waikato-2025-0.1m to south-waikato-2025-0.1m LI-8548
  config/tileset/waikato/imagery/south-waikato-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery south-waikato-2025-0.1m to south-waikato-2025-0.1m LI-8548 (#1618)
  config/tileset/waikato/imagery/south-waikato-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

Upgrade linz/action-visual-snapshot to v2.2
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

Revert "config(vector): Update the topographic to topographic config file. (#1615)"
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

fix: revert topographic version upgrade to fix missing roads BM-1766 (#1620)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

ci: Upgrade linz/action-visual-snapshot to v2.2 (#1619)
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery west-coast-2024-2026-0.2m to west-coast-2024-2026-0.2m LI-1569
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery waikato-sn1057-1958-0.12m to waikato-sn1057-1958-0.12m LI-9408
  config/tileset/waikato/imagery/waikato-sn1057-1958-0.12m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn1069-1958-0.1m to waikato-sn1069-1958-0.1m LI-9408
  config/tileset/waikato/imagery/waikato-sn1069-1958-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn1056-1958-0.25m to waikato-sn1056-1958-0.25m LI-9408
  config/tileset/waikato/imagery/waikato-sn1056-1958-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn107-1938-1939-0.25m to waikato-sn107-1938-1939-0.25m LI-9408
  config/tileset/waikato/imagery/waikato-sn107-1938-1939-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery
