Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

style(vector): update the topographic-v2 tileset file
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

style(vector): update rifle range style entries (labels-v2)
  config/style/labels-v2.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery otago-2025-0.2m to otago-2025-0.2m LI-5382
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery otago-2025-0.2m to otago-2025-0.2m LI-5382 (#1196)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

New github actions to publish to ORD
  .github/workflows/publish.yml
Owners: @linz/proj-basemaps-dev

feat: remove older tasman layers from aerial.json
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery marlborough-sn12080-sn122206-1994-1996-0.4m to marlborough-sn12080-sn122206-1994-1996-0.4m LI-5264
  config/tileset/marlborough/imagery/marlborough-sn12080-sn122206-1994-1996-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add tasman-2018-2019-0.3m individual layer
  config/tileset/tasman/imagery/tasman-rural-2018-2019-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add tasman-2022-0.3m as individual layer
  config/tileset/tasman/imagery/tasman-2022-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery marlborough-sn12080-sn122206-1994-1996-0.4m to marlborough-sn12080-sn122206-1994-1996-0.4m LI-5264 (#1198)
  config/tileset/marlborough/imagery/marlborough-sn12080-sn122206-1994-1996-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: remove tasman layers from aerial.json (#1199)
  config/tileset/aerial.json
  config/tileset/tasman/imagery/tasman-2022-0.3m.json
  config/tileset/tasman/imagery/tasman-rural-2018-2019-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

publish ord
  .github/workflows/publish.yml
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps

Output changed from check update
  .github/workflows/publish.yml
Owners: @linz/proj-basemaps-dev

Submit workflow
  .github/workflows/publish.yml
Owners: @linz/proj-basemaps-dev

test target
  .github/workflows/publish.yml
Owners: @linz/proj-basemaps-dev

Publish to basemaps staging bucket
  .github/workflows/publish.yml
Owners: @linz/proj-basemaps-dev

Update the target for testing
  .github/workflows/publish.yml
Owners: @linz/proj-basemaps-dev

Revert all the changes for testing and ready to review.
  .github/workflows/publish.yml
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps

feat: add marlborough-sn12080-sn122206-1994-1996-0.4m
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1200)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1201)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

feat: add marlborough-sn12080-sn122206-1994-1996-0.4m to post1989 basemap (#1202)
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

style(vector): adjust historic site style entries
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

style(vector): adjust rifle range style entries
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

style(vector): adjust ford style entries
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

style(vector): adjust ladder style entries
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

style(vector): update rifle range style entries (labels-v2)
  config/style/labels-v2.json
Owners: @linz/proj-basemaps-dev

style(vector): update the topographic-v2 tileset file
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

style(vector): update the topographic-v2 tileset file with prod paths
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

style(vector): update the topographic-v2 tileset file with staging paths
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

style(vector): update the topographic-v2 tileset file
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

style(vector): update the topographic-v2 tileset file with prod paths
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery buller-2024-2025-0.075m to buller-2024-2025-0.075m LI-5379
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

style(vector): adjust the v2 stylesheets to mirror schema changes BM-1299 (#1193)
  config/style/labels-v2.json
  config/style/topographic-v2.json
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps

feat: delete duplicate buller layers
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery buller-2024-2025-0.075m to buller-2024-2025-0.075m LI-5379 (#1203)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update topo raster to March 2025
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps
