Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1343)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1344)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

refactor: ensure all colors are rgba()
  config/style/topolite-v2.json
Owners: @linz/proj-basemaps-dev

feat: script to create grayscale color variants from style jsons
  config/style/topolite-v2-grayscale.json
  scripts/grayscale.ts
Owners: @linz/proj-basemaps-dev

refactor: code cleanup
  scripts/grayscale.ts
Owners: @linz/proj-basemaps-dev

refactor: correct some color conversion
  config/style/topolite-v2-grayscale.json
  scripts/grayscale.ts
Owners: @linz/proj-basemaps-dev

refactor skip near white
  config/style/topolite-v2-grayscale.json
  scripts/grayscale.ts
Owners: @linz/proj-basemaps-dev

refactor: ensure -v2 is the suffix on stylejson
  config/style/topolite-gray-v2.json
  scripts/grayscale.ts
Owners: @linz/proj-basemaps-dev

refactor: esnure the id and name get updated
  config/style/topolite-gray-v2.json
  scripts/grayscale.ts
Owners: @linz/proj-basemaps-dev

Apply suggestion from @blacha
  config/tileset/hillshade.igor.json
Owners: @linz/proj-basemaps, @linz/elevation

Apply suggestion from @blacha
  config/tileset/hillshade.igor.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

wip: add testing style.json
  config/style/topolite-hillshade-v2.json
  config/tileset/hillshade.igor.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/elevation

refactor: fixup invalid config
  config/style/topolite-hillshade-v2.json
  config/tileset/hillshade.igor.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/elevation

refactor: correct tile path
  config/style/topolite-hillshade-v2.json
Owners: @linz/proj-basemaps-dev

refactor: drop opacity more
  config/style/topolite-hillshade-v2.json
Owners: @linz/proj-basemaps-dev

refactor: lower opacity further
  config/style/topolite-hillshade-v2.json
Owners: @linz/proj-basemaps-dev

refactor: clean up pull request
  config/style/topolite-hillshade-v2.json
  config/tileset/hillshade.igor.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/elevation

refactor: add all hillshades with opacity layers
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1346)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1347)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(coastal): Add coastal elevation DEM waihi-beach-and-tauranga_2025 LI-6481
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DSM waihi-beach-and-tauranga_2025 LI-6481
  config/tileset/elevation.coastal.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEM waihi-beach-and-tauranga_2025 LI-6481 (#1348)
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DSM waihi-beach-and-tauranga_2025 LI-6481 (#1349)
  config/tileset/elevation.coastal.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

wip: try lanczos resmapling for overviews
  config/tileset/hillshade.igor.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1352)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1353)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery taranaki-sn12106-1993-1994-0.4m to taranaki-sn12106-1993-1994-0.4m LI-7318
  config/tileset/taranaki/imagery/taranaki-sn12106-1993-1994-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation levin_2024_dem_1m to levin_2024_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation levin_2024_dsm_1m to levin_2024_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: add taranaki imagery to tileset
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation levin_2024_dem_1m to levin_2024_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation
