Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

config(coastal): Add coastal elevation doubtless-bay-and-mangonui-harbour-2025-dem-1m LI-6017 (#1288)
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation whanganui-river-catchment_2025_dem_1m to whanganui-river-catchment_2025_dem_1m config file. (#1289)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation whanganui-river-catchment_2025_dsm_1m to whanganui-river-catchment_2025_dsm_1m config file. (#1290)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation nelson_2025_dem_1m to nelson_2025_dem_1m config file. (#1286)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation nelson_2025_dsm_1m to nelson_2025_dsm_1m config file. (#1285)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery banks-peninsula-2025-0.075m to banks-peninsula-2025-0.075m LI-5980
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery banks-peninsula-2025-0.075m to banks-peninsula-2025-0.075m LI-5980 (#1291)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waimate-2025-0.075m to waimate-2025-0.075m LI-5978
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat(hillshade): update hillshade to include new Manawatu-Whanganui/Nelson data
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

feat(hillshade): update hillshade to include new Manawatu-Whanganui/Nelson data (#1293)
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

chore: remove Waimate 2021 from aerial config and add as individual dataset
  config/tileset/aerial.json
  config/tileset/canterbury/imagery/waimate-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1295)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery nelson-2022-0.25m to nelson-2022-0.25m LI-6589
  config/tileset/nelson/imagery/nelson-2022-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery nelson-2023-0.075m to nelson-2023-0.075m LI-6029
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: move nelson-urban-2022-0.075m from aerial basemap
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add nelson-2022-0.075m to tileset
  config/tileset/nelson/imagery/nelson-2022-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(coastal): Add coastal elevation pepin-island-and-rotokura-cable-bay_2025 LI-6295
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation pepin-island-and-rotokura-cable-bay_2025 LI-6295 (#1298)
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: add alias
  config/tileset/nelson/imagery/nelson-2022-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery nelson-2023-0.075m to nelson-2023-0.075m LI-6029 (#1297)
  config/tileset/aerial.json
  config/tileset/nelson/imagery/nelson-2022-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery nelson-2022-0.25m to nelson-2022-0.25m LI-6589 (#1296)
  config/tileset/nelson/imagery/nelson-2022-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hamilton-2024-0.05m to hamilton-2024-0.05m LI-6593
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: move hamilton-2023-0.05m from aerial basemap to individual
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add hamilton-2023-0.05m to tileset
  config/tileset/waikato/imagery/hamilton-2023-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat(coastal): Add elevation.coastal.dsm.json config file
  config/tileset/elevation.coastal.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery hamilton-2024-0.05m to hamilton-2024-0.05m LI-6593 (#1299)
  config/tileset/aerial.json
  config/tileset/waikato/imagery/hamilton-2023-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waimate-2025-0.075m to waimate-2025-0.075m LI-5978
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): update the topographic-v2 style and tileset - finalised changes
  config/style/topographic-v2.json
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps

feat(coastal): Add elevation.coastal.dsm.json config file (#1300)
  config/tileset/elevation.coastal.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery waimate-2025-0.075m to waimate-2025-0.075m LI-5978
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1294)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1303)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery hamilton-2024-2025-0.05m to hamilton-2024-2025-0.05m LI-6593
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: remove hamilton-2024-0.05m
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hamilton-2024-2025-0.05m to hamilton-2024-2025-0.05m LI-6593 (#1304)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: remove Waimate 2021 from aerial config
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps
