Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

update topo raster
  config/tileset/topo-raster-gridded.json
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps

config(raster): Add imagery grey-2025-0.075m to grey-2025-0.075m LI-8620
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery grey-2025-0.075m to grey-2025-0.075m LI-8620 (#1510)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation hutt-city_2025_dem_1m to hutt-city_2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation hutt-city_2025_dsm_1m to hutt-city_2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation hutt-city_2025_dsm_1m to hutt-city_2025_dsm_1m config file. (#1512)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation hutt-city_2025_dem_1m to hutt-city_2025_dem_1m config file. (#1511)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1513)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

latest update
  config/tileset/topo-raster-gridded.json
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1514)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery manawatu-whanganui-2026-0.1m to manawatu-whanganui-2026-0.1m LI-8632
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery manawatu-whanganui-2026-0.1m to manawatu-whanganui-2026-0.1m LI-8632 (#1515)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update topo-raster March 2026 BM-1568 (#1504)
  config/tileset/topo-raster-gridded.json
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1516)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1517)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery taupo-2025-0.1m to taupo-2025-0.1m LI-7056
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery taupo-2025-0.1m to taupo-2025-0.1m LI-7056 (#1518)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1519)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1520)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery hutt-city-2025-0.075m to hutt-city-2025-0.075m LI-8778
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: updated mackenzie name
  config/tileset/canterbury/imagery/mackenzie-urban-2020-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: updated mackenzie name (#1522)
  config/tileset/canterbury/imagery/mackenzie-urban-2020-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hutt-city-2025-0.075m to hutt-city-2025-0.075m LI-8778 (#1521)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery upper-hutt-2025-0.075m to upper-hutt-2025-0.075m LI-8777
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery taupo-2021-0.1m to taupo-2021-0.1m
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery upper-hutt-2025-0.075m to upper-hutt-2025-0.075m LI-8777 (#1523)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: replace taupo-2021-0.15m with taupo-2021-0.1m
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hicks-bay-2026-0.085m to hicks-bay-2026-0.085m LI-8168
  config/tileset/gisborne/imagery/hicks-bay-2026-0.085m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hicks-bay-2026-0.06m to hicks-bay-2026-0.06m LI-8146
  config/tileset/gisborne/imagery/hicks-bay-2026-0.06m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hicks-bay-2026-0.085m to hicks-bay-2026-0.085m LI-8168
  config/tileset/gisborne/imagery/hicks-bay-2026-0.085m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hicks-bay-2026-0.06m to hicks-bay-2026-0.06m LI-8146
  config/tileset/gisborne/imagery/hicks-bay-2026-0.06m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hicks-bay-2026-0.06m to hicks-bay-2026-0.06m LI-8146 (#1526)
  config/tileset/gisborne/imagery/hicks-bay-2026-0.06m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hicks-bay-2026-0.085m to hicks-bay-2026-0.085m LI-8168 (#1527)
  config/tileset/gisborne/imagery/hicks-bay-2026-0.085m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery taupo-2021-0.1m to taupo-2021-0.1m
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery
