Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

feat: replace taupo-2021-0.15m with taupo-2021-0.1m
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: replace taupo-2021-0.15m with taupo-2021-0.1m
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery taupo-2021-0.1m to taupo-2021-0.1m
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

Fix the format
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1530)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1529)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery taupo-2021-0.1m to taupo-2021-0.1m (#1528)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery kapiti-coast-2025-0.075m to kapiti-coast-2025-0.075m LI-8305
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: removed kapiti-coast-urban-2021-0.075m from aerial
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: add kapiti-coast-urban-2021-0.075m to tileset
  config/tileset/wellington/imagery/kapiti-coast-2025-0.075m
Owners: @linz/proj-basemaps-dev

fix: fix name
  config/tileset/wellington/imagery/kapiti-coast-2021-0.075m
Owners: @linz/proj-basemaps-dev

fix: extra comma
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery kapiti-coast-2025-0.075m to kapiti-coast-2025-0.075m LI-8305 (#1531)
  config/tileset/aerial.json
  config/tileset/wellington/imagery/kapiti-coast-2021-0.075m
Owners: @linz/proj-basemaps, @linz/imagery, @linz/proj-basemaps-dev

fix: missing .json file extension
  config/tileset/wellington/imagery/kapiti-coast-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: missing .json file extension (#1532)
  config/tileset/wellington/imagery/kapiti-coast-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(coastal): Add coastal elevation DEMs and DSM for whanganui_2025
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSM for whanganui_2025 (#1533)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery mackenzie-2025-2026-0.075m to mackenzie-2025-2026-0.075m LI-8262
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: create mackenzie-2023-0.075m.json
  config/tileset/canterbury/imagery/mackenzie-2023-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add mackenzie 2025
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery mackenzie-2025-2026-0.075m to mackenzie-2025-2026-0.075m LI-8262 (#1534)
  config/tileset/aerial.json
  config/tileset/canterbury/imagery/mackenzie-2023-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1535)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1536)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery manawatu-whanganui-sn50421c-2004-0.6m to manawatu-whanganui-sn50421c-2004-0.6m LI-8377
  config/tileset/manawatu-whanganui/imagery/manawatu-whanganui-sn50421c-2004-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery manawatu-whanganui-sn50216c-2003-0.6m to manawatu-whanganui-sn50216c-2003-0.6m LI-8376
  config/tileset/manawatu-whanganui/imagery/manawatu-whanganui-sn50216c-2003-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery canterbury-sn50584c-2007-0.3m to canterbury-sn50584c-2007-0.3m LI-8380
  config/tileset/canterbury/imagery/canterbury-sn50584c-2007-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hawkes-bay-sn50529c-2006-0.6m to hawkes-bay-sn50529c-2006-0.6m LI-8379
  config/tileset/hawkes-bay/imagery/hawkes-bay-sn50529c-2006-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn50496c-2005-0.4m to waikato-sn50496c-2005-0.4m LI-8378
  config/tileset/waikato/imagery/waikato-sn50496c-2005-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery waikato-sn50496c-2005-0.4m to waikato-sn50496c-2005-0.4m LI-8378 (#1542)
  config/tileset/waikato/imagery/waikato-sn50496c-2005-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hawkes-bay-sn50529c-2006-0.6m to hawkes-bay-sn50529c-2006-0.6m LI-8379 (#1541)
  config/tileset/hawkes-bay/imagery/hawkes-bay-sn50529c-2006-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery canterbury-sn50584c-2007-0.3m to canterbury-sn50584c-2007-0.3m LI-8380 (#1540)
  config/tileset/canterbury/imagery/canterbury-sn50584c-2007-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery wellington-2025-0.2m to wellington-2025-0.2m LI-8796
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps
