Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

config(raster): Add imagery waimate-2025-0.075m to waimate-2025-0.075m LI-5978 (#1302)
  config/tileset/aerial.json
  config/tileset/canterbury/imagery/waimate-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hamilton-2023-2024-0.05m to hamilton-2023-2024-0.05m LI-6594
  config/tileset/waikato/imagery/hamilton-2023-2024-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation dannevirke_2022_dsm_1m to dannevirke_2022_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation dannevirke_2022_dem_1m to dannevirke_2022_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery hamilton-2023-2024-0.05m to hamilton-2023-2024-0.05m LI-6594 (#1305)
  config/tileset/waikato/imagery/hamilton-2023-2024-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation dannevirke_2022_dsm_1m to dannevirke_2022_dsm_1m config file. (#1306)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation dannevirke_2022_dem_1m to dannevirke_2022_dem_1m config file. (#1307)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1309)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1308)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery new-zealand-2024-2025-10m to new-zealand-2024-2025-10m LI-5434
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update aerial.json with latest nz satellite imagery
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: create new-zealand-2023-2024-10m individual layer
  config/tileset/new-zealand/imagery/new-zealand-2023-2024-10m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation tasman_2020-2022_dem_1m to tasman_2020-2022_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation tasman_2020-2022_dem_1m to tasman_2020-2022_dem_1m config file. (#1311)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

fix: remove default min zoom
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

Reimport fixed colours
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Reimport fixed cutlines.
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1312)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1313)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery christchurch-2025-0.05m to christchurch-2025-0.05m LI-5965
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery christchurch-2025-0.075m to christchurch-2025-0.075m LI-5979
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

wip: background color for igor
  config/tileset/hillshade.igor.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation southland_2020-2023_dem_1m to southland_2020-2023_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

fix: update config/tileset/elevation.json
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery christchurch-2025-0.075m to christchurch-2025-0.075m LI-5979 (#1315)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): update the topographic-v2 style to match the updated import zoom levels BM-1168 (#1252)
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

fix: Southland year
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): update the labels-v2 style
  config/style/labels-v2.json
Owners: @linz/proj-basemaps-dev

config(vector): update the topolite-v2 style
  config/style/topolite-v2.json
Owners: @linz/proj-basemaps-dev

config(vector): update the labels-v2 and topolite-v2 styles BM-1349 (#1318)
  config/style/labels-v2.json
  config/style/topolite-v2.json
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery new-zealand-2024-2025-10m to new-zealand-2024-2025-10m LI-5434 (#1310)
  config/tileset/aerial.json
  config/tileset/new-zealand/imagery/new-zealand-2023-2024-10m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: reorder datasets Christchurch (2025) 0.5m and 0.075m
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery christchurch-2025-0.05m to christchurch-2025-0.05m LI-5965 (#1314)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): update topo raster tileset to 600 dpi data sources
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps

config(raster): add missing nzoi topo25 layers to the topo raster tileset
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps

fix(raster): correct mistyped 2193 data source path
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps
