Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/imagery, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps-dev

fix: smoke test not running due to relative path
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

run report again
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev

fix: extension comma
  config/tileset/gisborne/imagery/gisborne-2023-2024-0.2m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

fix: gisborne-2023-2024-0.2m extension (#1105)
  config/tileset/gisborne/imagery/gisborne-2023-2024-0.2m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic to topographic config file. (#1103)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev

add test glob
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

fix: smoke test not running due to relative path (#1104)
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

feat: create elevation.coastal.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

config(raster): Add imagery marlborough-sn12080-sn122206-1994-1996-0.4m to marlborough-sn12080-sn122206-1994-1996-0.4m LI-5264
  config/tileset/marlborough/imagery/marlborough-sn12080-sn122206-1994-1996-0.4m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery auckland-sn50393c-2004-0.375m to auckland-sn50393c-2004-0.375m LI-5105
  config/tileset/auckland/imagery/auckland-sn50393c-2004-0.375m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery auckland-sn139-1939-1940-0.4m to auckland-sn139-1939-1940-0.4m LI-5105
  config/tileset/auckland/imagery/auckland-sn139-1939-1940-0.4m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery auckland-sn143-1940-1941-0.32m to auckland-sn143-1940-1941-0.32m LI-5105
  config/tileset/auckland/imagery/auckland-sn143-1940-1941-0.32m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery auckland-sn146-1940-0.24m to auckland-sn146-1940-0.24m LI-5105
  config/tileset/auckland/imagery/auckland-sn146-1940-0.24m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery marlborough-sn12080-sn122206-1994-1996-0.4m to marlborough-sn12080-sn122206-1994-1996-0.4m LI-5264
  config/tileset/marlborough/imagery/marlborough-sn12080-sn122206-1994-1996-0.4m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery auckland-sn50393c-2004-0.375m to auckland-sn50393c-2004-0.375m LI-5105
  config/tileset/auckland/imagery/auckland-sn50393c-2004-0.375m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery auckland-sn160-1940-0.32m to auckland-sn160-1940-0.32m LI-5105
  config/tileset/auckland/imagery/auckland-sn160-1940-0.32m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery auckland-sn144-1940-0.375m to auckland-sn144-1940-0.375m LI-5105
  config/tileset/auckland/imagery/auckland-sn144-1940-0.375m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery auckland-sn147-1940-1949-0.32m to auckland-sn147-1940-1949-0.32m LI-5105
  config/tileset/auckland/imagery/auckland-sn147-1940-1949-0.32m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery auckland-sn146-1940-0.24m to auckland-sn146-1940-0.24m LI-5105
  config/tileset/auckland/imagery/auckland-sn146-1940-0.24m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery auckland-sn3800-1975-0.75m to auckland-sn3800-1975-0.75m LI-5105
  config/tileset/auckland/imagery/auckland-sn3800-1975-0.75m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery auckland-sn139-1939-1940-0.4m to auckland-sn139-1939-1940-0.4m LI-5105
  config/tileset/auckland/imagery/auckland-sn139-1939-1940-0.4m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery auckland-sn5783-1980-1981-0.4m to auckland-sn5783-1980-1981-0.4m LI-5105
  config/tileset/auckland/imagery/auckland-sn5783-1980-1981-0.4m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery auckland-sn143-1940-1941-0.32m to auckland-sn143-1940-1941-0.32m LI-5105
  config/tileset/auckland/imagery/auckland-sn143-1940-1941-0.32m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery auckland-sn192-1942-1954-0.32m to auckland-sn192-1942-1954-0.32m LI-5105
  config/tileset/auckland/imagery/auckland-sn192-1942-1954-0.32m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps-dev @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps-dev @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps-dev @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps-dev @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps-dev @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps-dev @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps-dev @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps-dev @linz/elevation
