Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

feat: improved visual hillshade with bilinear filtering
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMS for mangawhai-to-snells
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for mangawhai-to-snells (#1471)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation wellington-city_2025_dem_1m to wellington-city_2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation wellington-city_2025_dsm_1m to wellington-city_2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation kapiti-coast_2024-2025_dsm_1m to kapiti-coast_2024-2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation kapiti-coast_2024-2025_dem_1m to kapiti-coast_2024-2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation wellington-city_2025_dem_1m to wellington-city_2025_dem_1m config file. (#1472)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation wellington-city_2025_dsm_1m to wellington-city_2025_dsm_1m config file. (#1473)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

fix: missing comma
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation kapiti-coast_2024-2025_dem_1m to kapiti-coast_2024-2025_dem_1m config file. (#1475)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation kapiti-coast_2024-2025_dsm_1m to kapiti-coast_2024-2025_dsm_1m config file. (#1474)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: removed old kapiti and wellington city
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: remove old kapiti and wellington city from dsm
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: remove old wellington datasets from dem and dsm config (#1476)
  config/tileset/elevation.dsm.json
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(coastal): Add coastal elevation DEMs and DSMs for matarangi-to-whitianga
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for matarangi-to-whitianga (#1477)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1469)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1468)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery otago-2021-0.1m to otago-2021-0.1m LI-8036
  config/tileset/otago/imagery/otago-2021-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery otago-2021-0.1m to otago-2021-0.1m LI-8036 (#1478)
  config/tileset/otago/imagery/otago-2021-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add to scanned.pre19900101.json
  config/tileset/scanned.pre19900101.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: bracket alignment
  config/tileset/scanned.pre19900101.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn1883-1966-0.1m to bay-of-plenty-sn1883-1966-0.1m LI-7795 (#1464)
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn1883-1966-0.1m.json
  config/tileset/scanned.pre19900101.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-2025-0.1m to bay-of-plenty-2025-0.1m LI-6319
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1482)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery manawatu-whanganui-sn11922-sn12106-sn12248-1992-1999-0.4m to manawatu-whanganui-sn11922-sn12106-sn12248-1992-1999-0.4m LI-8206
  config/tileset/manawatu-whanganui/imagery/manawatu-whanganui-sn11922-sn12106-sn12248-1992-1999-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-2025-0.1m to bay-of-plenty-2025-0.1m LI-6319 (#1480)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1481)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery manawatu-whanganui-sn11922-sn12106-sn12248-1992-1999-0.4m to manawatu-whanganui-sn11922-sn12106-sn12248-1992-1999-0.4m LI-8206 (#1483)
  config/tileset/manawatu-whanganui/imagery/manawatu-whanganui-sn11922-sn12106-sn12248-1992-1999-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation south-wairarapa_2025_dem_1m to south-wairarapa_2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation south-wairarapa_2025_dsm_1m to south-wairarapa_2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation south-wairarapa_2025_dem_1m to south-wairarapa_2025_dem_1m config file. (#1487)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps
