Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

Update NZ4633-1
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

config(vector): update the topographic-v2 config file
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): update the topographic-v2 config file
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1330)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1333)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

Update NZ55-1
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Fix some NZTM imports
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

fix lint
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Upload changes.md as artifact for oversize comments.
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

ci: Upload changes.md as artifact for oversized comments. (#1334)
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

Test with latest container
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

Revert "Test with latest container"
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

add white backgroud.
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

config(elevation): Add elevation christchurch_2024-2025_dsm_1m to christchurch_2024-2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation christchurch_2024-2025_dem_1m to christchurch_2024-2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: add additional color ramp with opacity
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
Owners: @linz/proj-basemaps, @linz/elevation

refactor: formatting
  config/tileset/hillshade.igor.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Import charts map into Basemaps. BM-1336 (#1231)
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

config(elevation): Add elevation christchurch_2024-2025_dem_1m to christchurch_2024-2025_dem_1m config file. (#1336)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation christchurch_2024-2025_dsm_1m to christchurch_2024-2025_dsm_1m config file. (#1335)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1338)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

fix(sprites): optimise cliff_edge sprite
  config/sprites/topographic/cliff_edge.svg
Owners: @linz/proj-basemaps-dev

fix(sprites): redraw cliff_edge sprite
  config/sprites/topographic/cliff_edge.svg
Owners: @linz/proj-basemaps-dev

fix(sprites): adjust cliff_edge sprite and style
  config/sprites/topographic/cliff_edge.svg
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1339)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

fix(sprites): revert to original sprite, normalise points, crop
  config/sprites/topographic/cliff_edge.svg
Owners: @linz/proj-basemaps-dev

fix(sprite): crop sprite to one spike and adjust style
  config/sprites/topographic/cliff_edge.svg
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

fix(sprite): add one pixel gap to top and bottom of sprite
  config/sprites/topographic/cliff_edge.svg
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

fix(sprites): align sprite to centerline
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

fix(sprites): adjust sprite to pot dimensions and adjust style
  config/sprites/topographic/cliff_edge.svg
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

style(vector): use 2x spritesheet for vector basemaps
  config/style/aerialhybrid.json
  config/style/labels-v2.json
  config/style/labels.json
  config/style/topographic-v2.json
  config/style/topographic.json
  config/style/topolite-v2.json
  config/style/topolite.json
Owners: @linz/proj-basemaps-dev

feat: increase resolution of some sprites
  config/sprites/topographic/cliff_edge.svg
Owners: @linz/proj-basemaps-dev

feat: more sprite size increases
  config/sprites/topographic/cutting_edge.svg
  config/sprites/topographic/rock_narrow_poly_thin.svg
Owners: @linz/proj-basemaps-dev

wip: check what happens if @2x sprites overwrite @1x sprites
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

Revert "feat: more sprite size increases"
  config/sprites/topographic/cutting_edge.svg
  config/sprites/topographic/rock_narrow_poly_thin.svg
Owners: @linz/proj-basemaps-dev

Revert "feat: increase resolution of some sprites"
  config/sprites/topographic/cliff_edge.svg
Owners: @linz/proj-basemaps-dev

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps
