Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps-dev @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps-dev @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps-dev @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps-dev @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps-dev @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps-dev @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps-dev @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps-dev @linz/elevation

config(elevation): Add elevation canterbury_2020-2023_dsm_1m to canterbury_2020-2023_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

config(elevation): Add elevation canterbury_2020-2023_dem_1m to canterbury_2020-2023_dem_1m config file. (#1081)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

config(elevation): Add elevation canterbury_2020-2023_dsm_1m to canterbury_2020-2023_dsm_1m config file. (#1082)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

config(raster): Add imagery new-zealand to new-zealand BM-1208
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

build: update workflows to use new config commands
  .github/workflows/build.yml
  scripts/bmc.sh
Owners: @linz/proj-basemaps-dev

fix: correct image version tag
  scripts/bmc.sh
Owners: @linz/proj-basemaps-dev

build: update workflows to use v8 of the basemaps containers by default
  .github/workflows/build.yml
  scripts/bmc.sh
Owners: @linz/proj-basemaps-dev

Test topographic data updtae
  config/tileset/topographic.json
Owners: @linz/proj-basemaps-dev

build: use basemaps-cli v8 for the build.yml workflow BM-1263 (#1071)
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

Update test data
  config/tileset/topographic.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps-dev

feat: directly update the basemaps lambda function configuration
  .github/workflows/build.yml
  scripts/update-lambda-config.sh
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery chatham-islands-sn8066-1982-1983-0.375m to chatham-islands-sn8066-1982-1983-0.375m LI-3977
  config/tileset/chatham-islands/imagery/chatham-islands-sn8066-1982-1983-0.375m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

feat: add chatham-islands-sn8066-1982-1983-0.375m to tileset
  config/tileset/scanned.pre19900101.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery chatham-islands-sn8066-1982-1983-0.375m to chatham-islands-sn8066-1982-1983-0.375m LI-3977 (#1087)
  config/tileset/chatham-islands/imagery/chatham-islands-sn8066-1982-1983-0.375m.json
  config/tileset/scanned.pre19900101.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic to topographic config file. (#1085)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery tauranga-2025-0.1m to tauranga-2025-0.1m LI-5259
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery waikato-sn11978-1992-1995-0.4m to waikato-sn11978-1992-1995-0.4m LI-5223
  config/tileset/waikato/imagery/waikato-sn11978-1992-1995-0.4m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery waikato-sn11978-1992-1995-0.4m to waikato-sn11978-1992-1995-0.4m LI-5223 (#1089)
  config/tileset/waikato/imagery/waikato-sn11978-1992-1995-0.4m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery tauranga-2025-0.1m to tauranga-2025-0.1m LI-5259 (#1088)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic to topographic config file. (#1090)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery northland-2023-2024-0.3m to northland-2023-2024-0.3m LI-4699
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery northland-2023-2024-0.3m to northland-2023-2024-0.3m LI-4699 (#1092)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery buller-2025-0.075m to buller-2025-0.075m LI-5379
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery buller-2025-0.075m to buller-2025-0.075m LI-5379 (#1095)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery buller-2024-0.1m to buller-2024-0.1m LI-5379
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery buller-2024-0.1m to buller-2024-0.1m LI-5379 (#1096)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

test new cli version
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps-dev

update data
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev

feat: create elevation.coastal.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

NZTM vector data
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev

Update data
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev

Update data
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev
