Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1490)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(elevation): Add elevation south-wairarapa_2025_dsm_1m to south-wairarapa_2025_dsm_1m config file. (#1488)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic to topographic config file. (#1491)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(elevation): Add elevation upper-hutt-city_2025_dem_1m to upper-hutt-city_2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation upper-hutt-city_2025_dsm_1m to upper-hutt-city_2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation upper-hutt-city_2025_dem_1m to upper-hutt-city_2025_dem_1m config file. (#1492)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation upper-hutt-city_2025_dsm_1m to upper-hutt-city_2025_dsm_1m config file. (#1493)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery bay-of-plenty-2025-0.1m to bay-of-plenty-2025-0.1m LI-6319
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-2025-0.1m to bay-of-plenty-2025-0.1m LI-6319 (#1494)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(elevation): Add elevation wellington_2013-2014_dem_1m to wellington_2013-2014_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery hawkes-bay-sn9585-1996-0.8m to hawkes-bay-sn9585-1996-0.8m
  config/tileset/hawkes-bay/imagery/hawkes-bay-sn9585-1996-0.8m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update scanned.post19891231.json
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1495)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1496)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery hawkes-bay-sn9585-1996-0.8m to hawkes-bay-sn9585-1996-0.8m (#1498)
  config/tileset/hawkes-bay/imagery/hawkes-bay-sn9585-1996-0.8m.json
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waioweka-gorge-2026-0.08m to waioweka-gorge-2026-0.08m LI-8550
  config/tileset/bay-of-plenty/imagery/waioweka-gorge-2026-0.08m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waioweka-gorge-2026-0.08m to waioweka-gorge-2026-0.08m LI-8550
  config/tileset/bay-of-plenty/imagery/waioweka-gorge-2026-0.08m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waioweka-gorge-2026-0.08m to waioweka-gorge-2026-0.08m LI-8550 (#1500)
  config/tileset/bay-of-plenty/imagery/waioweka-gorge-2026-0.08m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1501)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(coastal): Add coastal elevation DEMs and DSMs for tairua-to-whangamata_2025
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for tairua-to-whangamata_2025 (#1502)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery wimakariri-2023-0.05m to wimakariri-2023-0.05m LI-8314
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: moved dataset back to 2023 area and added alias
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: spelling mistake in name
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update topo-raster March 2026
  config/tileset/topo-raster-gridded.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1505)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery waimakariri-2023-0.05m to waimakariri-2023-0.05m LI-8314
  config/tileset/canterbury/imagery/waimakariri-2023-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

chore: remove old Waimakariri config file and provide an alias to it
  config/tileset/canterbury/imagery/waimakariri-2023-0.05m.json
  config/tileset/canterbury/imagery/waimakariri-2023-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waimakariri-2023-0.05m to waimakariri-2023-0.05m LI-8314 (#1506)
  config/tileset/canterbury/imagery/waimakariri-2023-0.05m.json
  config/tileset/canterbury/imagery/waimakariri-2023-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery manawatu-whanganui-sn11922-sn12106-sn12248-1992-1999-0.4m to manawatu-whanganui-sn11922-sn12106-sn12248-1992-1999-0.4m LI-8206
  config/tileset/manawatu-whanganui/imagery/manawatu-whanganui-sn11922-sn12106-sn12248-1992-1999-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation south-wairarapa_2025_dsm_1m to south-wairarapa_2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation south-wairarapa_2025_dem_1m to south-wairarapa_2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: add dataset to scanned.post19891231.json
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: spaces in scanned.post19891231.json
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation south-wairarapa_2025_dem_1m to south-wairarapa_2025_dem_1m config file. (#1509)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation south-wairarapa_2025_dsm_1m to south-wairarapa_2025_dsm_1m config file. (#1508)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation
