Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1219)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1220)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

fix: replace marlborough-sn12080-sn1222206 with marlborough-nz12080-sn12265
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: replace marlborough-sn12080-sn122206 in scanned.post19891231.json (#1221)
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation tauranga_2025_dem_1m to tauranga_2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation tauranga_2025_dsm_1m to tauranga_2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery westland-2024-0.075m to westland-2024-0.075m LI-5381
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery westland-2024-0.075m to westland-2024-0.075m LI-5381 (#1224)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery grey-2025-0.075m to grey-2025-0.075m LI-5876
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery grey-2025-0.075m to grey-2025-0.075m LI-5876 (#1225)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation tauranga_2025_dsm_1m to tauranga_2025_dsm_1m config file. (#1223)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation tauranga_2025_dem_1m to tauranga_2025_dem_1m config file. (#1222)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation whanganui-river-catchment_2025_dem_1m to whanganui-river-catchment_2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation whanganui-river-catchment_2025_dsm_1m to whanganui-river-catchment_2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation whanganui-river-catchment_2025_dem_1m to whanganui-river-catchment_2025_dem_1m config file. (#1226)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation whanganui-river-catchment_2025_dsm_1m to whanganui-river-catchment_2025_dsm_1m config file. (#1227)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): update topographic-v2.json
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

fix: correct formatting and use master 2193 source
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1228)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1229)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1230)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

Test NZ14600-1
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Fix lint
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Add NZ64-1
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Add more data
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Preserve resolution for the NZ14600
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Adjust zoom levels
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Adjust zoom levels
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

update topographic-v2.json
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery auckland-2024-0.075m to auckland-2024-0.075m LI-5867
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: remove auckland datasets form aerial basemap
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add auckland_2010-2012_0.50m individual layer
  config/tileset/auckland/imagery/auckland_2010-2012_0.50m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add auckland_2017_0.075m individual layer
  config/tileset/auckland/imagery/auckland_2017_0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add auckland-rural-2020-0.075m individual layer
  config/tileset/auckland/imagery/auckland-rural-2020-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: remove category from name
  config/tileset/auckland/imagery/auckland-2020-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add auckland-2022-0.075m.json individual layer
  config/tileset/auckland/imagery/auckland-2022-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update auckland-2020-0.075m.json
  config/tileset/auckland/imagery/auckland-2020-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery
