Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

ci: use diff command for QA URL comments BM-1461 (#1441)
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery gisborne-sn12490b-1997-0.6m to gisborne-sn12490b-1997-0.6m LI-7722 (#1439)
  config/tileset/gisborne/imagery/gisborne-sn12490b-1997-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation auckland-part-1_2024_dem_1m to auckland-part-1_2024_dem_1m config file. (#1445)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation auckland-part-2_2024_dem_1m to auckland-part-2_2024_dem_1m config file. (#1444)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1447)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1446)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery bay-of-plenty-2025-0.1m to bay-of-plenty-2025-0.1m LI-6319
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1450)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1451)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery waikato-sn11654-1989-0.625m to waikato-sn11654-1989-0.625m LI-7717
  config/tileset/waikato/imagery/waikato-sn11654-1989-0.625m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn11528-1989-0.625m to waikato-sn11528-1989-0.625m LI-7717
  config/tileset/waikato/imagery/waikato-sn11528-1989-0.625m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery otago-sn11827a-sn11828-1991-0.4m to otago-sn11827a-sn11828-1991-0.4m LI-7717
  config/tileset/otago/imagery/otago-sn11827a-sn11828-1991-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add additional color ramp with opacity
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery gisborne-2025-0.05m to gisborne-2025-0.05m LI-8010
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery gisborne-2025-0.05m to gisborne-2025-0.05m LI-8010 (#1456)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery otago-sn11827a-sn11828-1991-0.4m to otago-sn11827a-sn11828-1991-0.4m LI-7717 (#1454)
  config/tileset/otago/imagery/otago-sn11827a-sn11828-1991-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn11528-1989-0.625m to waikato-sn11528-1989-0.625m LI-7717 (#1453)
  config/tileset/waikato/imagery/waikato-sn11528-1989-0.625m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn11654-1989-0.625m to waikato-sn11654-1989-0.625m LI-7717 (#1452)
  config/tileset/waikato/imagery/waikato-sn11654-1989-0.625m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-2025-0.1m to bay-of-plenty-2025-0.1m LI-6319
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-2025-0.1m to bay-of-plenty-2025-0.1m LI-6319 (#1449)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1458)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1459)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

feat: update scanned.pre19900101.json
  config/tileset/scanned.pre19900101.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update scanned.post19891231.json
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: remove spaces
  config/tileset/scanned.pre19900101.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add surveys to scanned aerial imagery basemaps (#1460)
  config/tileset/scanned.post19891231.json
  config/tileset/scanned.pre19900101.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hicks-bay-2026-0.06m to hicks-bay-2026-0.06m LI-8146
  config/tileset/gisborne/imagery/hicks-bay-2026-0.06m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hicks-bay-2026-0.06m to hicks-bay-2026-0.06m LI-8146 (#1463)
  config/tileset/gisborne/imagery/hicks-bay-2026-0.06m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn1883-1966-0.1m to bay-of-plenty-sn1883-1966-0.1m LI-7795
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn1883-1966-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waioweka-gorge-2026-0.08m to waioweka-gorge-2026-0.08m LI-8162
  config/tileset/bay-of-plenty/imagery/waioweka-gorge-2026-0.08m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waioweka-gorge-2026-0.08m to waioweka-gorge-2026-0.08m LI-8162 (#1466)
  config/tileset/bay-of-plenty/imagery/waioweka-gorge-2026-0.08m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hicks-bay-2026-0.085m to hicks-bay-2026-0.085m LI-8168
  config/tileset/gisborne/imagery/hicks-bay-2026-0.085m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hicks-bay-2026-0.085m to hicks-bay-2026-0.085m LI-8168 (#1467)
  config/tileset/gisborne/imagery/hicks-bay-2026-0.085m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps
