Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

config(raster): Add imagery auckland-sn2717-1974-0.04m to auckland-sn2717-1974-0.04m LI-5105
  config/tileset/auckland/imagery/auckland-sn2717-1974-0.04m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn189-1942-0.32m to auckland-sn189-1942-0.32m LI-5105
  config/tileset/auckland/imagery/auckland-sn189-1942-0.32m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn1411-1961-0.06m to auckland-sn1411-1961-0.06m LI-5105
  config/tileset/auckland/imagery/auckland-sn1411-1961-0.06m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn347-1947-0.125m to auckland-sn347-1947-0.125m LI-5105
  config/tileset/auckland/imagery/auckland-sn347-1947-0.125m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn2714-1974-0.04m to auckland-sn2714-1974-0.04m LI-5105
  config/tileset/auckland/imagery/auckland-sn2714-1974-0.04m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn583-1950-1960-0.25m to auckland-sn583-1950-1960-0.25m LI-5105
  config/tileset/auckland/imagery/auckland-sn583-1950-1960-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn577-1951-1960-0.3m to auckland-sn577-1951-1960-0.3m LI-5105
  config/tileset/auckland/imagery/auckland-sn577-1951-1960-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn1283-1960-0.25m to auckland-sn1283-1960-0.25m LI-5105
  config/tileset/auckland/imagery/auckland-sn1283-1960-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: create elevation.coastal.json (#1106)
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery auckland-sn2751-1974-1975-0.08m to auckland-sn2751-1974-1975-0.08m LI-5105
  config/tileset/auckland/imagery/auckland-sn2751-1974-1975-0.08m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn5615c-1979-0.6m to auckland-sn5615c-1979-0.6m LI-5105
  config/tileset/auckland/imagery/auckland-sn5615c-1979-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn2863-1975-0.15m to auckland-sn2863-1975-0.15m LI-5105
  config/tileset/auckland/imagery/auckland-sn2863-1975-0.15m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn2970-1976-0.375m to auckland-sn2970-1976-0.375m LI-5105
  config/tileset/auckland/imagery/auckland-sn2970-1976-0.375m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn5308-1978-1979-0.75m to auckland-sn5308-1978-1979-0.75m LI-5105
  config/tileset/auckland/imagery/auckland-sn5308-1978-1979-0.75m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn2802-1975-0.04m to auckland-sn2802-1975-0.04m LI-5105
  config/tileset/auckland/imagery/auckland-sn2802-1975-0.04m.json
Owners: @linz/proj-basemaps, @linz/imagery

Update data
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery auckland-sn5414-1979-0.05m to auckland-sn5414-1979-0.05m LI-5105
  config/tileset/auckland/imagery/auckland-sn5414-1979-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn5296-1978-0.04m to auckland-sn5296-1978-0.04m LI-5105
  config/tileset/auckland/imagery/auckland-sn5296-1978-0.04m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn2883-1975-1976-0.04m to auckland-sn2883-1975-1976-0.04m LI-5105
  config/tileset/auckland/imagery/auckland-sn2883-1975-1976-0.04m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn5275-1978-1979-0.04m to auckland-sn5275-1978-1979-0.04m LI-5105
  config/tileset/auckland/imagery/auckland-sn5275-1978-1979-0.04m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn8162-1983-0.375m to auckland-sn8162-1983-0.375m LI-5105
  config/tileset/auckland/imagery/auckland-sn8162-1983-0.375m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn5645-1980-0.05m to auckland-sn5645-1980-0.05m LI-5105
  config/tileset/auckland/imagery/auckland-sn5645-1980-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn5646-1980-0.05m to auckland-sn5646-1980-0.05m LI-5105
  config/tileset/auckland/imagery/auckland-sn5646-1980-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn5841-1981-0.05m to auckland-sn5841-1981-0.05m LI-5105
  config/tileset/auckland/imagery/auckland-sn5841-1981-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn5707-1980-0.05m to auckland-sn5707-1980-0.05m LI-5105
  config/tileset/auckland/imagery/auckland-sn5707-1980-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn50393c-2004-0.375m to auckland-sn50393c-2004-0.375m LI-5105 (#1113)
  config/tileset/auckland/imagery/auckland-sn50393c-2004-0.375m.json
Owners: @linz/proj-basemaps, @linz/imagery

test new analysis report format
  .github/workflows/build.yml
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps

config(raster): Add imagery auckland-sn5652-1980-0.05m to auckland-sn5652-1980-0.05m LI-5105
  config/tileset/auckland/imagery/auckland-sn5652-1980-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn5717-1980-0.05m to auckland-sn5717-1980-0.05m LI-5105
  config/tileset/auckland/imagery/auckland-sn5717-1980-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn5840-1981-0.05m to auckland-sn5840-1981-0.05m LI-5105
  config/tileset/auckland/imagery/auckland-sn5840-1981-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn160-1940-0.32m to auckland-sn160-1940-0.32m LI-5105 (#1114)
  config/tileset/auckland/imagery/auckland-sn160-1940-0.32m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn8083-1982-0.05m to auckland-sn8083-1982-0.05m LI-5105
  config/tileset/auckland/imagery/auckland-sn8083-1982-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn8211-1983-0.08m to auckland-sn8211-1983-0.08m LI-5105
  config/tileset/auckland/imagery/auckland-sn8211-1983-0.08m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn144-1940-0.375m to auckland-sn144-1940-0.375m LI-5105 (#1115)
  config/tileset/auckland/imagery/auckland-sn144-1940-0.375m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9025c-1989-0.375m to auckland-sn9025c-1989-0.375m LI-5105
  config/tileset/auckland/imagery/auckland-sn9025c-1989-0.375m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn8824-1991-0.24m to auckland-sn8824-1991-0.24m LI-5105
  config/tileset/auckland/imagery/auckland-sn8824-1991-0.24m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9057-1989-0.04m to auckland-sn9057-1989-0.04m LI-5105
  config/tileset/auckland/imagery/auckland-sn9057-1989-0.04m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn8930-1988-0.08m to auckland-sn8930-1988-0.08m LI-5105
  config/tileset/auckland/imagery/auckland-sn8930-1988-0.08m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9055-1989-0.04m to auckland-sn9055-1989-0.04m LI-5105
  config/tileset/auckland/imagery/auckland-sn9055-1989-0.04m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9056-1989-0.04m to auckland-sn9056-1989-0.04m LI-5105
  config/tileset/auckland/imagery/auckland-sn9056-1989-0.04m.json
Owners: @linz/proj-basemaps, @linz/imagery
