Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

config(raster): Add imagery auckland-sn8772-1987-1988-0.4m to auckland-sn8772-1987-1988-0.4m LI-5105 (#1172)
  config/tileset/auckland/imagery/auckland-sn8772-1987-1988-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9394-1994-0.04m to auckland-sn9394-1994-0.04m LI-5105 (#1173)
  config/tileset/auckland/imagery/auckland-sn9394-1994-0.04m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: correct extension on missing aerial imagery
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-2020-0.1m.json
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-2021-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9907c-2000-0.1m to auckland-sn9907c-2000-0.1m LI-5105 (#1174)
  config/tileset/auckland/imagery/auckland-sn9907c-2000-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9274-1993-0.15m to auckland-sn9274-1993-0.15m LI-5105 (#1175)
  config/tileset/auckland/imagery/auckland-sn9274-1993-0.15m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9578-1996-0.2m to auckland-sn9578-1996-0.2m LI-5105 (#1176)
  config/tileset/auckland/imagery/auckland-sn9578-1996-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9359-1994-0.15m to auckland-sn9359-1994-0.15m LI-5105 (#1177)
  config/tileset/auckland/imagery/auckland-sn9359-1994-0.15m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9283-1993-0.1m to auckland-sn9283-1993-0.1m LI-5105 (#1178)
  config/tileset/auckland/imagery/auckland-sn9283-1993-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9349-1994-0.15m to auckland-sn9349-1994-0.15m LI-5105 (#1179)
  config/tileset/auckland/imagery/auckland-sn9349-1994-0.15m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9959-2000-0.375m to auckland-sn9959-2000-0.375m LI-5105 (#1180)
  config/tileset/auckland/imagery/auckland-sn9959-2000-0.375m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9938-2000-0.75m to auckland-sn9938-2000-0.75m LI-5105 (#1181)
  config/tileset/auckland/imagery/auckland-sn9938-2000-0.75m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn1397-1961-1963-0.25m to auckland-sn1397-1961-1963-0.25m LI-5105 (#1182)
  config/tileset/auckland/imagery/auckland-sn1397-1961-1963-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: correct extension on missing aerial imagery (#1183)
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-2020-0.1m.json
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-2021-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-waikato-sn348-1944-0.375m to auckland-waikato-sn348-1944-0.375m LI-5105
  config/tileset/auckland/imagery/auckland-waikato-sn348-1944-0.375m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-waikato-sn9888-2000-0.375m to auckland-waikato-sn9888-2000-0.375m LI-5105
  config/tileset/auckland/imagery/auckland-waikato-sn9888-2000-0.375m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn1397-1961-1963-0.4m to auckland-sn1397-1961-1963-0.4m LI-5105
  config/tileset/auckland/imagery/auckland-sn1397-1961-1963-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn8485-1985-0.1m to auckland-sn8485-1985-0.1m LI-5105
  config/tileset/auckland/imagery/auckland-sn8485-1985-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-auckland-sn3607-1972-1973-0.3m to waikato-auckland-sn3607-1972-1973-0.3m LI-5105
  config/tileset/waikato/imagery/waikato-auckland-sn3607-1972-1973-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-auckland-sn9997c-2001-0.6m to waikato-auckland-sn9997c-2001-0.6m LI-5105
  config/tileset/waikato/imagery/waikato-auckland-sn9997c-2001-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9909c-2000-0.1m to auckland-sn9909c-2000-0.1m LI-5105
  config/tileset/auckland/imagery/auckland-sn9909c-2000-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-waikato-sn348-1944-0.375m to auckland-waikato-sn348-1944-0.375m LI-5105 (#1184)
  config/tileset/auckland/imagery/auckland-waikato-sn348-1944-0.375m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-waikato-sn9888-2000-0.375m to auckland-waikato-sn9888-2000-0.375m LI-5105 (#1185)
  config/tileset/auckland/imagery/auckland-waikato-sn9888-2000-0.375m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn1397-1961-1963-0.4m to auckland-sn1397-1961-1963-0.4m LI-5105 (#1186)
  config/tileset/auckland/imagery/auckland-sn1397-1961-1963-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn8485-1985-0.1m to auckland-sn8485-1985-0.1m LI-5105 (#1187)
  config/tileset/auckland/imagery/auckland-sn8485-1985-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-auckland-sn3607-1972-1973-0.3m to waikato-auckland-sn3607-1972-1973-0.3m LI-5105 (#1188)
  config/tileset/waikato/imagery/waikato-auckland-sn3607-1972-1973-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-auckland-sn9997c-2001-0.6m to waikato-auckland-sn9997c-2001-0.6m LI-5105 (#1189)
  config/tileset/waikato/imagery/waikato-auckland-sn9997c-2001-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn9909c-2000-0.1m to auckland-sn9909c-2000-0.1m LI-5105 (#1190)
  config/tileset/auckland/imagery/auckland-sn9909c-2000-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery tasman-2024-2025-0.25m to tasman-2024-2025-0.25m LI-5463
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery tasman-2024-2025-0.25m to tasman-2024-2025-0.25m LI-5463 (#1192)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

Fix the topolite-v2 and labels-v2 to styles to support NZTM2000Quad TileMatrix
  config/style/labels-v2.json
  config/style/topolite-v2.json
Owners: @linz/proj-basemaps-dev

fix(style): Fix the topolite-v2 and labels-v2 to styles to support NZTM2000Quad TileMatrix. (#1194)
  config/style/labels-v2.json
  config/style/topolite-v2.json
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1102)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1191)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

style(vector): adjust rifle range style entries
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

style(vector): adjust ford style entries
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

style(vector): adjust historic site style entries
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

style(vector): adjust ladder style entries
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

style(vector): update the topographic-v2 tileset file
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps
