Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

config(raster): Add imagery tasman-2012-2013-0.4m to tasman-2012-2013-0.4m TDE-763 (#1274)
  config/tileset/tasman/imagery/tasman-2012-2013-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery otago-2005-2011-0.75m to otago-2005-2011-0.75m TDE-763 (#1275)
  config/tileset/otago/imagery/otago-2005-2011-0.75m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery whanganui-2013-0.1m to whanganui-2013-0.1m TDE-763 (#1276)
  config/tileset/manawatu-whanganui/imagery/whanganui-2013-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery west-coast-2009-2011-0.4m to west-coast-2009-2011-0.4m TDE-763 (#1277)
  config/tileset/west-coast/imagery/west-coast-2009-2011-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery wellington-2025-0.2m to wellington-2025-0.2m LI-5510
  config/tileset/wellington/imagery/wellington-2025-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

First imported charts data
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery canterbury-2025-0.25m to canterbury-2025-0.25m LI-4080
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

Update data
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Update zoom levels
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery canterbury-2025-0.25m to canterbury-2025-0.25m LI-4080 (#1279)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery wellington-2025-0.2m to wellington-2025-0.2m LI-5510 (#1278)
  config/tileset/wellington/imagery/wellington-2025-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

Update data
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Remove the black mask ones
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Fix format
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery whanganui-river-catchment-2025-0.1m to whanganui-river-catchment-2025-0.1m LI-6235
  config/tileset/manawatu-whanganui/imagery/whanganui-river-catchment-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1281)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

Update data
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Multiple comments for oversize
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

Upload changes as artifacts
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

Update the with preview links
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery whanganui-river-catchment-2025-0.1m to whanganui-river-catchment-2025-0.1m LI-6235 (#1280)
  config/tileset/manawatu-whanganui/imagery/whanganui-river-catchment-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

Update shortbread data.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1283)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): update the topographic-v2 tileset - reduce zoom level ranges
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery nelson-2025-0.1m to nelson-2025-0.1m LI-5899
  config/tileset/nelson/imagery/nelson-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery nelson-2025-0.1m to nelson-2025-0.1m LI-5899 (#1284)
  config/tileset/nelson/imagery/nelson-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

Update zoom levels
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Update zoom levels
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

Update zoom levels
  config/tileset/aerial.json
  config/tileset/charts.json
Owners: @linz/proj-basemaps, @linz/imagery, @linz/proj-basemaps-dev

Update charts.json
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Update charts.json
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

Update charts.json
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

config(elevation): Add elevation nelson_2025_dsm_1m to nelson_2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation nelson_2025_dem_1m to nelson_2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery waimate-2025-0.075m to waimate-2025-0.075m LI-5978
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(coastal): Add coastal elevation doubtless-bay-and-mangonui-harbour-2025-dem-1m LI-6017
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation whanganui-river-catchment_2025_dem_1m to whanganui-river-catchment_2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation whanganui-river-catchment_2025_dsm_1m to whanganui-river-catchment_2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation
