Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

config(raster): Add imagery manawatu-whanganui-sn50421c-2004-0.6m to manawatu-whanganui-sn50421c-2004-0.6m LI-8377
  config/tileset/manawatu-whanganui/imagery/manawatu-whanganui-sn50421c-2004-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery manawatu-whanganui-sn50216c-2003-0.6m to manawatu-whanganui-sn50216c-2003-0.6m LI-8376
  config/tileset/manawatu-whanganui/imagery/manawatu-whanganui-sn50216c-2003-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: wellington-2025-2026
  config/tileset/wellington/imagery/wellington-2025-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

chore: remove old wellington
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add individual layer wellington 2024-2025
  config/tileset/wellington/imagery/wellington-2024-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add wellington 2021 03m to individual
  config/tileset/wellington/imagery/wellington-rural-2021-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: code indentation
  config/tileset/wellington/imagery/wellington-2024-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery manawatu-whanganui-sn50216c-2003-0.6m to manawatu-whanganui-sn50216c-2003-0.6m LI-8376 (#1548)
  config/tileset/manawatu-whanganui/imagery/manawatu-whanganui-sn50216c-2003-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery manawatu-whanganui-sn50421c-2004-0.6m to manawatu-whanganui-sn50421c-2004-0.6m LI-8377 (#1547)
  config/tileset/manawatu-whanganui/imagery/manawatu-whanganui-sn50421c-2004-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update scanned.post19891231.json
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1545)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1550)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery wellington-2025-0.2m to wellington-2025-0.2m LI-8796 (#1546)
  config/tileset/aerial.json
  config/tileset/wellington/imagery/wellington-2024-0.25m.json
  config/tileset/wellington/imagery/wellington-2025-0.2m.json
  config/tileset/wellington/imagery/wellington-rural-2021-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update scanned.post19891231.json with recent datasets (#1549)
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn11940-1992-0.4m to bay-of-plenty-sn11940-1992-0.4m LI-8185
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn11940-1992-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery northland-sn12082-1993-0.4m to northland-sn12082-1993-0.4m LI-8970
  config/tileset/northland/imagery/northland-sn12082-1993-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery nelson-2025-0.075m to nelson-2025-0.075m LI-8509
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: retire nelson_2023_0.075m from aerial.json
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: create nelson-2023-0.075m.json
  config/tileset/nelson/imagery/nelson-2023-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update scanned.post19891231.json
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery nelson-2025-0.075m to nelson-2025-0.075m LI-8509 (#1553)
  config/tileset/aerial.json
  config/tileset/nelson/imagery/nelson-2023-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery northland-sn12082-1993-0.4m to northland-sn12082-1993-0.4m LI-8970 (#1552)
  config/tileset/northland/imagery/northland-sn12082-1993-0.4m.json
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update scanned.post19891231.json
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn11940-1992-0.4m to bay-of-plenty-sn11940-1992-0.4m LI-8185 (#1551)
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn11940-1992-0.4m.json
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(coastal): Add coastal elevation DEMS and DSM for Dunedin_2025
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for Dunedin
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for Dunedin
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for Dunedin
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMS and DSM for Dunedin_2025 (#1554)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1556)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1555)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(elevation): Add elevation wellington_2013-2014_dem_1m to wellington_2013-2014_dem_1m config file. (#1497)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: add rgbnir with false-color pipeline
  config/tileset/aerial.rgbn.json
Owners: @linz/proj-basemaps-dev

feat: more layers
  config/tileset/aerial.rgbn.json
Owners: @linz/proj-basemaps-dev

refactor: drop urban level imagery to minZoom 15
  config/tileset/aerial.rgbn.json
Owners: @linz/proj-basemaps-dev

config(coastal): Add coastal elevation DEMs and DSMs for Awakino to Tongaporutu
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps
