Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

config(raster): Add imagery waikato-sn1056-1958-0.25m to waikato-sn1056-1958-0.25m LI-9408 (#1629)
  config/tileset/waikato/imagery/waikato-sn1056-1958-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn1069-1958-0.1m to waikato-sn1069-1958-0.1m LI-9408 (#1628)
  config/tileset/waikato/imagery/waikato-sn1069-1958-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn1057-1958-0.12m to waikato-sn1057-1958-0.12m LI-9408 (#1627)
  config/tileset/waikato/imagery/waikato-sn1057-1958-0.12m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery south-waikato-2025-0.1m to south-waikato-2025-0.1m LI-8548
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: update category to Event
  config/tileset/waikato/imagery/waikato-sn1056-1958-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: delete south-waikato-2025-0.1m indv layer
  config/tileset/waikato/imagery/south-waikato-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: move thames-coromandel 2021 to individual layer
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: create thames-coromandel-2021-0.1m.json‎
  config/tileset/waikato/imagery/thames-coromandel-2021-0.1m.json‎
Owners: @linz/proj-basemaps-dev

feat: update hillshades
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

fix: update category to Event (#1686)
  config/tileset/waikato/imagery/waikato-sn1056-1958-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update hillshades (#1688)
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: add additional color ramp with opacity
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

fix: swap name/alias to acommodate macron
  config/tileset/waikato/imagery/otorohanga-2021-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: update name
  config/tileset/waikato/imagery/otorohanga-2021-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery south-waikato-2025-0.1m to south-waikato-2025-0.1m LI-8548 (#1685)
  config/tileset/aerial.json
  config/tileset/waikato/imagery/south-waikato-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation horowhenua_2025_dem_1m to horowhenua_2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation horowhenua_2025_dsm_1m to horowhenua_2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery waikato-sn1085-1958-0.125m to waikato-sn1085-1958-0.125m LI-9408
  config/tileset/waikato/imagery/waikato-sn1085-1958-0.125m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn178-1941-1955-0.32m to waikato-sn178-1941-1955-0.32m LI-9408
  config/tileset/waikato/imagery/waikato-sn178-1941-1955-0.32m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn358-1944-1950-0.4m to waikato-sn358-1944-1950-0.4m LI-9408
  config/tileset/waikato/imagery/waikato-sn358-1944-1950-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn11987-1992-1995-0.4m to waikato-sn11987-1992-1995-0.4m LI-9408
  config/tileset/waikato/imagery/waikato-sn11987-1992-1995-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-2025-2026-0.075m to waikato-2025-2026-0.075m LI-9256
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation horowhenua_2025_dem_1m to horowhenua_2025_dem_1m config file. (#1691)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery waikato-sn1085-1958-0.125m to waikato-sn1085-1958-0.125m LI-9408 (#1693)
  config/tileset/waikato/imagery/waikato-sn1085-1958-0.125m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn178-1941-1955-0.32m to waikato-sn178-1941-1955-0.32m LI-9408 (#1694)
  config/tileset/waikato/imagery/waikato-sn178-1941-1955-0.32m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn358-1944-1950-0.4m to waikato-sn358-1944-1950-0.4m LI-9408 (#1695)
  config/tileset/waikato/imagery/waikato-sn358-1944-1950-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn11987-1992-1995-0.4m to waikato-sn11987-1992-1995-0.4m LI-9408 (#1696)
  config/tileset/waikato/imagery/waikato-sn11987-1992-1995-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: delete draft individual layer
  config/tileset/waikato/imagery/waikato-2025-2026-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation horowhenua_2025_dsm_1m to horowhenua_2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery waikato-2025-2026-0.075m to waikato-2025-2026-0.075m LI-9256 (#1697)
  config/tileset/aerial.json
  config/tileset/waikato/imagery/waikato-2025-2026-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation horowhenua_2025_dsm_1m to horowhenua_2025_dsm_1m config file. (#1698)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery waipa-2026-0.1m to waipa-2026-0.1m LI-9535
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic to topographic config file. (#1690)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1689)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery waikato-bay-of-plenty-sn255-1943-1950-0.32m to waikato-bay-of-plenty-sn255-1943-1950-0.32m LI-9408 (#1679)
  config/tileset/waikato/imagery/waikato-bay-of-plenty-sn255-1943-1950-0.32m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: delete individual json
  config/tileset/waikato/imagery/waipa-2026-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waipa-2026-0.1m to waipa-2026-0.1m LI-9535 (#1699)
  config/tileset/aerial.json
  config/tileset/waikato/imagery/waipa-2026-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(coastal): Add coastal elevation DEMs and DSMs for Port Waikato 2025-2026
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps
