Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps-dev @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps-dev @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps-dev @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps-dev @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps-dev @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps-dev @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps-dev @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps-dev @linz/elevation

chore: rearrange elevation dataset survey ordering (#1063)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

config(elevation): Add elevation auckland-part-1_2024_dem_1m to auckland-part-1_2024_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

chore: move Auckland 1m DEM config up to North Island group
  config/tileset/elevation.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

config(elevation): Add elevation auckland-part-1_2024_dem_1m to auckland-part-1_2024_dem_1m config file. (#1069)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

config(elevation): Add elevation auckland-part-1_2024_dsm_1m to auckland-part-1_2024_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

chore: reorder elevation.dsm.json
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

config(elevation): Add elevation auckland-part-1_2024_dsm_1m to auckland-part-1_2024_dsm_1m config file. (#1070)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

build: update workflows to use new config commands
  .github/workflows/build.yml
  scripts/bmc.sh
Owners: @linz/proj-basemaps-dev

fix: correct image version tag
  scripts/bmc.sh
Owners: @linz/proj-basemaps-dev

config(elevation): Add elevation rangitikei-river_2021_dem_1m to rangitikei-river_2021_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

feat: older dataset reordering to bottom
  config/tileset/elevation.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

config(elevation): Add elevation rangitikei-river_2021_dem_1m to rangitikei-river_2021_dem_1m config file. (#1072)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

config(elevation): Add elevation rangitikei-river_2021_dsm_1m to rangitikei-river_2021_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

feat: older dataset reordering to bottom
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

fix: reordering layers
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

config(elevation): Add elevation rangitikei-river_2021_dsm_1m to rangitikei-river_2021_dsm_1m config file. (#1073)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps-dev, @linz/elevation

config(raster): Add imagery otago-2025-0.2m to otago-2025-0.2m LI-4716
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery otago-2025-0.2m to otago-2025-0.2m LI-4716 (#1074)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery south-wairarapa-2025-0.075m to south-wairarapa-2025-0.075m LI-5032
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery south-wairarapa-2025-0.075m to south-wairarapa-2025-0.075m LI-5032 (#1075)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery bay-of-plenty-east-2024-2025-0.2m to bay-of-plenty-east-2024-2025-0.2m LI-4079
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery bay-of-plenty-east-2024-2025-0.2m to bay-of-plenty-east-2024-2025-0.2m LI-4079
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery bay-of-plenty-east-2024-2025-0.2m to bay-of-plenty-east-2024-2025-0.2m LI-4079 (#1076)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery napier-2024-2025-0.05m to napier-2024-2025-0.05m LI-4257
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

feat: create indv layer for hawkes-bay-2022-0.05m
  config/tileset/hawkes-bay/imagery/hawkes-bay-2022-0.05m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

feat: remove hawkes-bay urban 2022 from aerial
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery napier-2024-2025-0.05m to napier-2024-2025-0.05m LI-4257 (#1077)
  config/tileset/aerial.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2022-0.05m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery hawkes-bay-2024-2025-0.1m to hawkes-bay-2024-2025-0.1m LI-4257
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

feat: remove hawkes-bay urban 0.1m 2022 from aerial
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

feat: create hawkes-bay-2022-0.1m individual layer
  config/tileset/hawkes-bay/imagery/hawkes-bay-2022-0.1m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery hawkes-bay-2024-2025-0.1m to hawkes-bay-2024-2025-0.1m LI-4257 (#1078)
  config/tileset/aerial.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2022-0.1m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery hawkes-bay-2023-2024-0.25m to hawkes-bay-2023-2024-0.25m LI-2177
  config/tileset/hawkes-bay/imagery/hawkes-bay-2023-2024-0.25m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

feat(aerial): add hawkes-bay-2023-2024-0.25m to aerial
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

feat(aerial): move hawkes-bay-2023-2024-0.25m
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

feat: remove hawkes-bay-2023-2024-0.25m as indv json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2023-2024-0.25m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery hawkes-bay-2023-2024-0.25m to hawkes-bay-2023-2024-0.25m LI-2177 (#1079)
  config/tileset/aerial.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2023-2024-0.25m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery wellington-2024-0.25m to wellington-2024-0.25m LI-4083
  config/tileset/aerial.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

feat: remove wellington-2024-0.25m indv layer
  config/tileset/wellington/imagery/wellington-2024-0.25m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(raster): Add imagery wellington-2024-0.25m to wellington-2024-0.25m LI-4083 (#1080)
  config/tileset/aerial.json
  config/tileset/wellington/imagery/wellington-2024-0.25m.json
Owners: @linz/proj-basemaps-dev, @linz/imagery

config(elevation): Add elevation canterbury_2020-2023_dem_1m to canterbury_2020-2023_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps-dev, @linz/elevation
