Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(coastal): Add coastal elevation DEMs and DSMs for Port Waikato… (#1700)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

Revert "feat: update hillshades (#1688)"
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

fix: exclude Otorohanga
  config/tileset/waikato/imagery/otorohanga-2021-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: move thames-coromandel 2021 to individual layer (#1687)
  config/tileset/aerial.json
  config/tileset/waikato/imagery/thames-coromandel-2021-0.1m.json‎
Owners: @linz/proj-basemaps, @linz/imagery, @linz/proj-basemaps-dev

config(vector): Update the topographic to topographic config file. (#1702)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1701)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

chore: remove misconfigured old Northland dataset TDE-2000
  config/tileset/northland/imagery/northland-2003-0.75m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(coastal): Add coastal elevation DEMs and DSMs for Taieri Mouth
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for Molyneux Bay
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for Toetoes Harbour
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for Taieri Mouth, Molyneux Bay and Toetoes Harbour
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for Taieri Mouth… (#1714)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for Wellington Harbour
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

Add a message on what you have done “config(coastal): Add coastal elevation DEMs and DSMs for Wellington Harbour
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for Wellington Harbour (#1717)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

fix: formatting
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

fix: formatting
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: update hillshades
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: update hillshades (#1722)
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for Jackson Bay / Okahu
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: add additional hillshade color ramp with opacity (#1337)
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: raster hillshade
  config/style/topolite-v2.json
Owners: @linz/proj-basemaps-dev

config(coastal): Add coastal elevation DEMs and DSMs for Jackson Bay … (#1725)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: add bay-of-plenty-2026-0.1m to aerial basemap
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: remove bay-of-plenty-2026-0.1m individual layer
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-2026-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: remove comma
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: adjust placement
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: update aerial.json
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add Bay of Plenty Severe Weather 0.1m Aerial Photos (2026) to aerial basemap (#1727)
  config/tileset/aerial.json
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-2026-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: apply hillshade opacity
  config/style/topolite-v2.json
Owners: @linz/proj-basemaps-dev

feat(topolite): raster hillshade for v2 (#1726)
  config/style/topolite-v2.json
Owners: @linz/proj-basemaps-dev

fix: broken filename
  config/tileset/waikato/imagery/thames-coromandel-2021-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add new-zealand-2024-2025-10m.json
  config/tileset/new-zealand/imagery/new-zealand-2024-2025-10m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update aerial.json
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery
