Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

fix: delete napier-2024-2025-0.05m.json
  config/tileset/hawkes-bay/imagery/napier-2024-2025-0.05m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hawkes-bay-2025-2026-0.2m to hawkes-bay-2025-2026-0.2m LI-8771 (#1646)
  config/tileset/aerial.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2021-2022-0.3m.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2023-2024-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn3470-1971-0.4m to waikato-sn3470-1971-0.4m LI-9408
  config/tileset/waikato/imagery/waikato-sn3470-1971-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn192-1941-1954-0.4m to waikato-sn192-1941-1954-0.4m LI-9408
  config/tileset/waikato/imagery/waikato-sn192-1941-1954-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn1889-1965-1975-1m to waikato-sn1889-1965-1975-1m LI-9408
  config/tileset/waikato/imagery/waikato-sn1889-1965-1975-1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn255-1943-1950-0.32m to waikato-sn255-1943-1950-0.32m LI-9408
  config/tileset/waikato/imagery/waikato-sn255-1943-1950-0.32m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-sn266-1943-1952-0.4m to waikato-sn266-1943-1952-0.4m LI-9408
  config/tileset/waikato/imagery/waikato-sn266-1943-1952-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

onfig(coastal): Add coastal elevation DEMs and DSMs for Gisborne
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): correction Gisborne
  config/tileset/elevation.coastal.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

indentation fix
  config/tileset/elevation.coastal.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

indentation
  config/tileset/elevation.coastal.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

Refs/heads/config/anaura bay to tolaga bay 2025 dem 1m (#1654)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1644)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1645)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery thames-coromandel-2025-0.1m to thames-coromandel-2025-0.1m LI-9288
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-2026-0.2m to waikato-2026-0.2m LI-6318
  config/tileset/waikato/imagery/waikato-2026-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery thames-coromandel-2025-0.1m to thames-coromandel-2025-0.1m LI-9288 (#1656)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waikato-2026-0.2m to waikato-2026-0.2m LI-6318 (#1657)
  config/tileset/waikato/imagery/waikato-2026-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(coastal): Add coastal elevation DEMs and DSMs for Waiheke Island
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for Waiheke Island (#1661)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1659)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery southland-sn11887a-1991-0.15m to southland-sn11887a-1991-0.15m LI-9793
  config/tileset/southland/imagery/southland-sn11887a-1991-0.15m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery southland-sn11887b-1991-0.3m to southland-sn11887b-1991-0.3m LI-9793
  config/tileset/southland/imagery/southland-sn11887b-1991-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery manawatu-whanganui-sn11895-1991-0.3m to manawatu-whanganui-sn11895-1991-0.3m LI-9793
  config/tileset/manawatu-whanganui/imagery/manawatu-whanganui-sn11895-1991-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery southland-sn11887a-1991-0.15m to southland-sn11887a-1991-0.15m LI-9793 (#1662)
  config/tileset/southland/imagery/southland-sn11887a-1991-0.15m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery southland-sn11887b-1991-0.3m to southland-sn11887b-1991-0.3m LI-9793 (#1663)
  config/tileset/southland/imagery/southland-sn11887b-1991-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery manawatu-whanganui-sn11895-1991-0.3m to manawatu-whanganui-sn11895-1991-0.3m LI-9793 (#1664)
  config/tileset/manawatu-whanganui/imagery/manawatu-whanganui-sn11895-1991-0.3m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery whangaruru-2026-0.1m to whangaruru-2026-0.1m LI-8797
  config/tileset/northland/imagery/whangaruru-2026-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery whangaruru-2026-0.1m to whangaruru-2026-0.1m LI-8797 (#1666)
  config/tileset/northland/imagery/whangaruru-2026-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery otago-sn8040-1982-0.375m to otago-sn8040-1982-0.375m LI-9480
  config/tileset/otago/imagery/otago-sn8040-1982-0.375m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery marlborough-sn12077-1993-0.6m to marlborough-sn12077-1993-0.6m LI-9479
  config/tileset/marlborough/imagery/marlborough-sn12077-1993-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery manawatu-whanganui-sn50216c-2003-0.6m to manawatu-whanganui-sn50216c-2003-0.6m LI-8376
  config/tileset/manawatu-whanganui/imagery/manawatu-whanganui-sn50216c-2003-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery tasman-sn11671-1989-0.625m to tasman-sn11671-1989-0.625m LI-9532
  config/tileset/tasman/imagery/tasman-sn11671-1989-0.625m.json
Owners: @linz/proj-basemaps, @linz/imagery
