Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

config(elevation): Add elevation levin_2024_dem_1m to levin_2024_dem_1m config file. (#1357)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation levin_2024_dsm_1m to levin_2024_dsm_1m config file. (#1356)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation cardrona_2025_dem_1m to cardrona_2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation cardrona_2025_dsm_1m to cardrona_2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation cardrona_2025_dsm_1m to cardrona_2025_dsm_1m config file. (#1359)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation kingston_2025_dem_1m to kingston_2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation kingston_2025_dsm_1m to kingston_2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation kingston_2025_dsm_1m to kingston_2025_dsm_1m config file. (#1361)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation kingston_2025_dem_1m to kingston_2025_dem_1m config file. (#1360)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery tongariro-national-park-false-colour-2025-10m to tongariro-national-park-false-colour-2025-10m LI-7465
  config/tileset/manawatu-whanganui/imagery/tongariro-national-park-false-colour-2025-10m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add date to title
  config/tileset/manawatu-whanganui/imagery/tongariro-national-park-false-colour-2025-10m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1362)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery tongariro-national-park-false-colour-2025-10m to tongariro-national-park-false-colour-2025-10m LI-7465 (#1364)
  config/tileset/manawatu-whanganui/imagery/tongariro-national-park-false-colour-2025-10m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery cardrona-2025-0.05m to cardrona-2025-0.05m LI-5238
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery tongariro-national-park-2025-10m to tongariro-national-park-2025-10m LI-7465
  config/tileset/manawatu-whanganui/imagery/tongariro-national-park-2025-10m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add date to title
  config/tileset/manawatu-whanganui/imagery/tongariro-national-park-2025-10m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: category
  config/tileset/manawatu-whanganui/imagery/tongariro-national-park-2025-10m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: change category to Event
  config/tileset/manawatu-whanganui/imagery/tongariro-national-park-false-colour-2025-10m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: category of tongariro-national-park-false-colour-2025-0.1m (#1367)
  config/tileset/manawatu-whanganui/imagery/tongariro-national-park-false-colour-2025-10m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery tongariro-national-park-2025-10m to tongariro-national-park-2025-10m LI-7465 (#1366)
  config/tileset/manawatu-whanganui/imagery/tongariro-national-park-2025-10m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: increase resolution of some sprites
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

feat: increase resolution of some sprites BM-350 (#1342)
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

feat: move dataset to 1993-1994 range in basemap
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery taranaki-sn12106-1993-1994-0.4m to taranaki-sn12106-1993-1994-0.4m LI-7318 (#1354)
  config/tileset/scanned.post19891231.json
  config/tileset/taranaki/imagery/taranaki-sn12106-1993-1994-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation oroua_2025_dsm_1m to oroua_2025_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation oroua_2025_dem_1m to oroua_2025_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(elevation): Add elevation oroua_2025_dem_1m to oroua_2025_dem_1m config file. (#1369)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation oroua_2025_dsm_1m to oroua_2025_dsm_1m config file. (#1368)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1370)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery levin-2024-0.05m to levin-2024-0.05m LI-7358
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery levin-2024-0.05m to levin-2024-0.05m LI-7358 (#1371)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation northland_2018-2020_dem_1m to northland_2018-2020_dem_1m config file. (#1323)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation southland_2020-2023_dem_1m to southland_2020-2023_dem_1m config file. (#1317)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation wellington_2013-2014_dem_1m to wellington_2013-2014_dem_1m config file. (#1322)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

chore: fix whitespace
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation cardrona_2025_dem_1m to cardrona_2025_dem_1m config file. (#1358)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps
