Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

config(raster): Add imagery bay-of-plenty-waikato-sn827-1953-0.48m to bay-of-plenty-waikato-sn827-1953-0.48m LI-5732 (#1413)
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-waikato-sn827-1953-0.48m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn8925-19880403-0.15m to bay-of-plenty-sn8925-19880403-0.15m LI-5732 (#1414)
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn8925-19880403-0.15m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery auckland-sn11624-1989-0.625m to auckland-sn11624-1989-0.625m LI-7715
  config/tileset/auckland/imagery/auckland-sn11624-1989-0.625m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waimakariri-2025-0.25m to waimakariri-2025-0.25m LI-7636
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-sn11624-1989-0.625m to auckland-sn11624-1989-0.625m LI-7715 (#1424)
  config/tileset/auckland/imagery/auckland-sn11624-1989-0.625m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update config on individual layer
  config/tileset/taranaki/imagery/taranaki-sn12106-1993-1994-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: update taranaki sn12106 config on basemap
  config/tileset/scanned.post19891231.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery gisborne-sn12490b-1997-0.6m to gisborne-sn12490b-1997-0.6m LI-7722
  config/tileset/gisborne/imagery/gisborne-sn12490b-1997-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waimakariri-2025-0.25m to waimakariri-2025-0.25m LI-7636
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

feat: remove waimakariri_2024_0.25m from aerial
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: create waimakariri_2024_0.25m individual layer
  config/tileset/canterbury/imagery/waimakariri_2024_0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1422)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1423)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery waimakariri-2025-0.25m to waimakariri-2025-0.25m LI-7636 (#1425)
  config/tileset/aerial.json
  config/tileset/canterbury/imagery/waimakariri_2024_0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1432)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1433)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery taranaki-sn12106-1993-1994-0.4m to taranaki-sn12106-1993-1994-0.4m LI-7318
  config/tileset/taranaki/imagery/taranaki-sn12106-1993-1994-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery taranaki-sn12106-1993-1994-0.4m to taranaki-sn12106-1993-1994-0.4m LI-7318 (#1434)
  config/tileset/taranaki/imagery/taranaki-sn12106-1993-1994-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery porirua-2025-0.075m to porirua-2025-0.075m LI-6322
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery porirua-2025-0.075m to porirua-2025-0.075m LI-6322 (#1437)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery gisborne-sn12490b-1997-0.6m to gisborne-sn12490b-1997-0.6m LI-7722
  config/tileset/gisborne/imagery/gisborne-sn12490b-1997-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(coastal): Add coastal elevation DEMs and DSMs for whangarei-to-bream-bay and opotiki-to-torere
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for whangarei-to-bream-bay and opotiki-to-torere (#1440)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

ci: use diff command for qa comments
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

test: simulate tileset changes
  config/tileset/aerial.json
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery timaru-2025-0.075m to timaru-2025-0.075m LI-7450
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery timaru-2025-0.075m to timaru-2025-0.075m LI-7450 (#1442)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

test: revert tileset changes
  config/tileset/aerial.json
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation auckland-part-2_2024_dem_1m to auckland-part-2_2024_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation auckland-part-1_2024_dem_1m to auckland-part-1_2024_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps
