Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

config(coastal): Add coastal elevation DEMs and DSMs for Awakino to Tongaporutu
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(coastal): Add coastal elevation DEMs and DSMs for Awakino to Tongaporutu (#1558)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: add additional color ramp with opacity
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: improved visual hillshade with bilinear filtering
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1559)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1560)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery kaikoura-earthquake-2016-0.2m to kaikoura-earthquake-2016-0.2m
  config/tileset/canterbury/imagery/kaikoura-earthquake-2016-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery kaikoura-earthquake-2016-0.2m to kaikoura-earthquake-2016-0.2m
  config/tileset/canterbury/imagery/kaikoura-earthquake-2016-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(coastal): Add coastal elevation DEMs and DSMs for Golden Bay
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(coastal): Add coastal elevation DEMs and DSMs for Golden Bay (#1569)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic to topographic config file. (#1571)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery kaikoura-earthquake-2016-0.2m to kaikoura-earthquake-2016-0.2m (#1568)
  config/tileset/canterbury/imagery/kaikoura-earthquake-2016-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1572)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery carterton-2025-0.075m to carterton-2025-0.075m LI-9178
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery carterton-2025-0.075m to carterton-2025-0.075m LI-9178 (#1573)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery wellington-2025-0.075m to wellington-2025-0.075m LI-9178
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: retire wellington-city-urban-2021-0.075m from aerial basemap
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add wellington-city-urban-2021-0.075m.json
  config/tileset/wellington/imagery/wellington-city-urban-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1570)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery wellington-2025-0.075m to wellington-2025-0.075m LI-9178 (#1574)
  config/tileset/aerial.json
  config/tileset/wellington/imagery/wellington-city-urban-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

Add coastal elevation DEMs and DSM for Urenui to Ōakura
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

Correction to coastal DEM urenui to oakura
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1578)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1579)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

Add coastal elevation DEMs and DSM for Urenui to Ōakura (#1577)
  config/tileset/elevation.coastal.dsm.json
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery bay-of-plenty-2026-0.1m to bay-of-plenty-2026-0.1m LI-9292
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-2026-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery carterton-2025-0.075m to carterton-2025-0.075m LI-9178
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery masterton-2025-0.075m to masterton-2025-0.075m LI-9178
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery upper-hutt-2025-0.075m to upper-hutt-2025-0.075m LI-9178
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery hutt-city-2025-0.075m to hutt-city-2025-0.075m LI-9178
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery kapiti-coast-2025-0.075m to kapiti-coast-2025-0.075m LI-9178
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery porirua-2025-0.075m to porirua-2025-0.075m LI-9178
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery
