Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

Update NZTM data
  config/tileset/charts.json
Owners: @linz/proj-basemaps-dev

feat: add new dem layers BM-1328 (#1237)
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: add dsm hillshade layers BM-1277 (#1235)
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

fix: convert #rrggbbaa colors into rgba (#1241)
  config/style/topo-raster.json
  config/style/topographic-v2.json
  config/style/topographic.json
  package-lock.json
  package.json
  scripts/fix-hex.ts
Owners: @linz/proj-basemaps-dev

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1242)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): update the topographic-v2 tileset's data sources
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

fix: add back urban and rural for broken wmts links
  config/tileset/auckland/imagery/auckland-2010-2012-0.5m.json
  config/tileset/auckland/imagery/auckland-2017-0.075m.json
  config/tileset/auckland/imagery/auckland-2020-0.075m.json
  config/tileset/auckland/imagery/auckland-2022-0.075m.json
  config/tileset/otago/imagery/otago-2019-2021-0.3m.json
  config/tileset/tasman/imagery/tasman-2022-0.3m.json
  config/tileset/tasman/imagery/tasman-rural-2018-2019-0.3m.json
  config/tileset/wellington/imagery/carterton-2021-0.075m.json
  config/tileset/wellington/imagery/masterton-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

more urban rural names
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-2020-0.1m.json
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-2021-0.2m.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2022-0.05m.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2022-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation west-coast_2020-2022_dsm_1m to west-coast_2020-2022_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation west-coast_2020-2022_dem_1m to west-coast_2020-2022_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery tasman-river-valleys-flood-2025-0.1m to tasman-river-valleys-flood-2025-0.1m LI-6144
  config/tileset/tasman/imagery/tasman-river-valleys-flood-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation west-coast_2020-2022_dem_1m to west-coast_2020-2022_dem_1m config file. (#1245)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation west-coast_2020-2022_dsm_1m to west-coast_2020-2022_dsm_1m config file. (#1244)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery tasman-river-valleys-flood-2025-0.1m to tasman-river-valleys-flood-2025-0.1m LI-6144 (#1246)
  config/tileset/tasman/imagery/tasman-river-valleys-flood-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): update the topographic-v2 tileset's data sources
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1250)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1249)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

aliases
  config/tileset/auckland/imagery/auckland-2010-2012-0.5m.json
Owners: @linz/proj-basemaps, @linz/imagery

rest of aliases
  config/tileset/auckland/imagery/auckland-2017-0.075m.json
  config/tileset/auckland/imagery/auckland-2020-0.075m.json
  config/tileset/auckland/imagery/auckland-2022-0.075m.json
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-2020-0.1m.json
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-2021-0.2m.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2022-0.05m.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2022-0.1m.json
  config/tileset/otago/imagery/otago-2019-2021-0.3m.json
  config/tileset/tasman/imagery/tasman-2022-0.3m.json
  config/tileset/tasman/imagery/tasman-rural-2018-2019-0.3m.json
  config/tileset/wellington/imagery/carterton-2021-0.075m.json
  config/tileset/wellington/imagery/masterton-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: add back urban and rural for broken wmts links BM-1334 (#1243)
  config/tileset/auckland/imagery/auckland-2010-2012-0.5m.json
  config/tileset/auckland/imagery/auckland-2017-0.075m.json
  config/tileset/auckland/imagery/auckland-2020-0.075m.json
  config/tileset/auckland/imagery/auckland-2022-0.075m.json
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-2020-0.1m.json
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-2021-0.2m.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2022-0.05m.json
  config/tileset/hawkes-bay/imagery/hawkes-bay-2022-0.1m.json
  config/tileset/otago/imagery/otago-2019-2021-0.3m.json
  config/tileset/tasman/imagery/tasman-2022-0.3m.json
  config/tileset/tasman/imagery/tasman-rural-2018-2019-0.3m.json
  config/tileset/wellington/imagery/carterton-2021-0.075m.json
  config/tileset/wellington/imagery/masterton-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

style(vector): update the topographic-v2 tileset's place_labels style entries
  config/style/topographic-v2.json
Owners: @linz/proj-basemaps-dev

style(vector): revert all labels-v2 stylesheet changes
  config/style/labels-v2.json
Owners: @linz/proj-basemaps-dev

config(vector): update the topographic-v2 tileset's data sources to master
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

feat(hillshade): update hillshades to include new west coast data
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

feat(hillshade): update hillshades to include new West Coast data (#1251)
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

config(vector): update the topographic-v2 tileset's data sources (prod-run, new labels)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): update the place_labels style entries for the topographic-v2 basemap BM-1318 (#1218)
  config/style/topographic-v2.json
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps-dev, @linz/proj-basemaps

config(vector): update the topographic-v2 tileset
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): update the topographic-v2 tileset - index contours fix
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1254)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1253)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery auckland-2012-0.075m to auckland-2012-0.075m TDE-763
  config/tileset/auckland/imagery/auckland-2012-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery auckland-2010-2011-0.125m to auckland-2010-2011-0.125m TDE-763
  config/tileset/auckland/imagery/auckland-2010-2011-0.125m.json
Owners: @linz/proj-basemaps, @linz/imagery

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps
