Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

feat(raster): update topo raster to March 2025 (#1204)
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps

feat: update topo raster to March 2025
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps

config(raster): Add imagery whanganui-river-catchment-2025-0.1m to whanganui-river-catchment-2025-0.1m LI-5387
  config/tileset/manawatu-whanganui/imagery/whanganui-river-catchment-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery whanganui-river-catchment-2025-0.1m to whanganui-river-catchment-2025-0.1m LI-5387 (#1206)
  config/tileset/manawatu-whanganui/imagery/whanganui-river-catchment-2025-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1208)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1207)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(raster): Add imagery marlborough-sn12080-sn12265-1994-1996-0.4m to marlborough-sn12080-sn12265-1994-1996-0.4m LI-5264
  config/tileset/marlborough/imagery/marlborough-sn12080-sn12265-1994-1996-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: remove marlboroug-sn12080-sn122206-1994-1996-0
  config/tileset/marlborough/imagery/marlborough-sn12080-sn122206-1994-1996-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery carterton-2025-0.075m to carterton-2025-0.075m LI-5633
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery marlborough-sn12080-sn12265-1994-1996-0.4m to marlborough-sn12080-sn12265-1994-1996-0.4m LI-5264 (#1209)
  config/tileset/marlborough/imagery/marlborough-sn12080-sn122206-1994-1996-0.4m.json
  config/tileset/marlborough/imagery/marlborough-sn12080-sn12265-1994-1996-0.4m.json
Owners: @linz/proj-basemaps, @linz/imagery

feat(raster): update topo raster to March 2025 BM-1319 (#1205)
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps

config(elevation): Add elevation auckland-part-2_2024_dem_1m to auckland-part-2_2024_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation auckland-part-2_2024_dsm_1m to auckland-part-2_2024_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: remove carterton-urban-2021-0.075m from aerial.json
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add carterton-2021-0.075m individual layer
  config/tileset/wellington/imagery/carterton-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: Deleted region name Auckland Part 2
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

fix: name Auckland Part 2 dsm
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery otago-2025-0.2m to otago-2025-0.2m LI-5798
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: remove otago-rural-2019-2021-0.3m from aerial basemap
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add otago-2019-2021-0.3m to tileset
  config/tileset/otago/imagery/otago-2019-2021-0.3m
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery waimakariri-2025-0.04m to waimakariri-2025-0.04m LI-5681
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation auckland-part-2_2024_dem_1m to auckland-part-2_2024_dem_1m config file. (#1211)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation auckland-part-2_2024_dsm_1m to auckland-part-2_2024_dsm_1m config file. (#1212)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(raster): Add imagery otago-2025-0.2m to otago-2025-0.2m LI-5798 (#1213)
  config/tileset/aerial.json
  config/tileset/otago/imagery/otago-2019-2021-0.3m
Owners: @linz/proj-basemaps, @linz/imagery, @linz/proj-basemaps-dev

config(raster): Add imagery carterton-2025-0.075m to carterton-2025-0.075m LI-5633 (#1210)
  config/tileset/aerial.json
  config/tileset/wellington/imagery/carterton-2021-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waimakariri-2025-0.04m to waimakariri-2025-0.04m LI-5681
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

config(elevation): Add elevation motueka-river-valley_2024_dem_1m to motueka-river-valley_2024_dem_1m config file.
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation motueka-river-valley_2024_dem_1m to motueka-river-valley_2024_dem_1m config file. (#1215)
  config/tileset/elevation.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation motueka-river-valley_2024_dsm_1m to motueka-river-valley_2024_dsm_1m config file.
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

config(elevation): Add elevation motueka-river-valley_2024_dsm_1m to motueka-river-valley_2024_dsm_1m config file. (#1216)
  config/tileset/elevation.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

feat: remove waimakariri_2023_0.1m
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

feat: add waimakariri_2023_0.1m individual layer
  config/tileset/canterbury/imagery/waimakariri-2023-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery waimakariri-2025-0.04m to waimakariri-2025-0.04m LI-5681 (#1214)
  config/tileset/aerial.json
  config/tileset/canterbury/imagery/waimakariri-2023-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

Remove third party github actions
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

build: Remove third party github actions (#1217)
  .github/workflows/build.yml
Owners: @linz/proj-basemaps-dev

config(vector): use 3857 source with new place_labels dataset tiles
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps
