Repository linz/basemaps-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @linz/proj-basemaps-dev, @linz/proj-basemaps, @linz/imagery, @linz/elevation

.github/CODEOWNERS:

* @linz/proj-basemaps-dev
config/tileset/*/imagery/*.json @linz/proj-basemaps @linz/imagery
config/tileset/aerial.json @linz/proj-basemaps @linz/imagery
config/tileset/event.*.json @linz/proj-basemaps @linz/imagery
config/tileset/scanned.*.json @linz/proj-basemaps @linz/imagery
config/tileset/elevation.json @linz/proj-basemaps @linz/elevation
config/tileset/elevation.*.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.json @linz/proj-basemaps @linz/elevation
config/tileset/hillshade.*.json @linz/proj-basemaps @linz/elevation
config/tileset/topo-raster.json @linz/proj-basemaps
config/tileset/topographic-v2.json @linz/proj-basemaps
config/tileset/topographic.json @linz/proj-basemaps

Add coastal elevation DEM bluff_2025 LI-6481
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

Add coastal elevation DSM bluff_2025 LI-6481
  config/tileset/elevation.coastal.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

Add coastal elevation DEM bluff_2025 LI-6481 (#1372)
  config/tileset/elevation.coastal.json
Owners: @linz/proj-basemaps, @linz/elevation

Add coastal elevation DSM bluff_2025 LI-6481 (#1373)
  config/tileset/elevation.coastal.dsm.json
Owners: @linz/proj-basemaps, @linz/elevation

test: remove tileset layers
  config/tileset/aerial.json
  config/tileset/elevation.json
  config/tileset/topo-raster.json
Owners: @linz/proj-basemaps, @linz/imagery, @linz/elevation

feat(hillshade): update hillshades to include new Manawatu-Whanganui/Otago data
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

feat(hillshade): update hillshades to include new Manawatu-Whanganui/Otago data (#1375)
  config/tileset/hillshade.dsm.json
  config/tileset/hillshade.igor.dsm.json
  config/tileset/hillshade.igor.json
  config/tileset/hillshade.json
Owners: @linz/proj-basemaps, @linz/elevation

test: revert topographic-v2 tileset layers to the commit before master
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file.
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic-v2 to topographic-v2 config file. (#1384)
  config/tileset/topographic-v2.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file.
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(vector): Update the topographic to topographic config file. (#1363)
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

fix: correct id for selwyn 2022-2023
  config/tileset/canterbury/imagery/selwyn-2022-2023-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

fix: correct id for selwyn 2022-2023 (#1385)
  config/tileset/canterbury/imagery/selwyn-2022-2023-0.075m.json
Owners: @linz/proj-basemaps, @linz/imagery

test: add test-topographic-v2 tileset
  config/tileset/test-topographic-v2.json
Owners: @linz/proj-basemaps-dev

config(raster): Add imagery cardrona-2025-0.05m to cardrona-2025-0.05m LI-5238 (#1365)
  config/tileset/aerial.json
Owners: @linz/proj-basemaps, @linz/imagery

test: remove topographic tileset
  config/tileset/topographic.json
Owners: @linz/proj-basemaps

config(raster): Add imagery bay-of-plenty-sn588-1951-0.16m to bay-of-plenty-sn588-1951-0.16m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn588-1951-0.16m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn845-1954-0.2m to bay-of-plenty-sn845-1954-0.2m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn845-1954-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn596-1952-0.5m to bay-of-plenty-sn596-1952-0.5m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn596-1952-0.5m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn845-1954-0.2m to bay-of-plenty-sn845-1954-0.2m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn845-1954-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn812-1952-1953-0.32m to bay-of-plenty-sn812-1952-1953-0.32m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn812-1952-1953-0.32m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn1607-1964-0.1m to bay-of-plenty-sn1607-1964-0.1m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn1607-1964-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn1760-1965-0.1m to bay-of-plenty-sn1760-1965-0.1m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn1760-1965-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn1840-1966-1970-0.25m to bay-of-plenty-sn1840-1966-1970-0.25m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn1840-1966-1970-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn1247-1959-0.125m to bay-of-plenty-sn1247-1959-0.125m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn1247-1959-0.125m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn1740-1965-0.125m to bay-of-plenty-sn1740-1965-0.125m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn1740-1965-0.125m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn1422-1962-0.25m to bay-of-plenty-sn1422-1962-0.25m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn1422-1962-0.25m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn1896-1966-0.1m to bay-of-plenty-sn1896-1966-0.1m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn1896-1966-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn1985-1967-0.1m to bay-of-plenty-sn1985-1967-0.1m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn1985-1967-0.1m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn5005-1976-0.15m to bay-of-plenty-sn5005-1976-0.15m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn5005-1976-0.15m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn2461-1972-0.04m to bay-of-plenty-sn2461-1972-0.04m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn2461-1972-0.04m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn2463-1972-0.04m to bay-of-plenty-sn2463-1972-0.04m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn2463-1972-0.04m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn8763-1987-0.6m to bay-of-plenty-sn8763-1987-0.6m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn8763-1987-0.6m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn5420-1979-0.15m to bay-of-plenty-sn5420-1979-0.15m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn5420-1979-0.15m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn8736-1987-0.2m to bay-of-plenty-sn8736-1987-0.2m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn8736-1987-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn8736-1987-0.2m to bay-of-plenty-sn8736-1987-0.2m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn8736-1987-0.2m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn8156-1982-0.08m to bay-of-plenty-sn8156-1982-0.08m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn8156-1982-0.08m.json
Owners: @linz/proj-basemaps, @linz/imagery

config(raster): Add imagery bay-of-plenty-sn8154-1982-1983-0.375m to bay-of-plenty-sn8154-1982-1983-0.375m LI-5732
  config/tileset/bay-of-plenty/imagery/bay-of-plenty-sn8154-1982-1983-0.375m.json
Owners: @linz/proj-basemaps, @linz/imagery
